In [1]:
from tsa.models import Arima

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('datasets/4/Rainfall_data.csv')

In [4]:
from tsa.interpolation import interpolate_dates as interpolate

In [5]:
df['Date'] = [str(i[0])+'-' + str(i[1]) for i in df[['Year', 'Month']].values]
df

,Year,Month,Day,Specific Humidity,Relative Humidity,Temperature,Precipitation,Date
0,2000,1,1,8.06,48.25,23.93,0.00,2000-1
1,2000,2,1,8.73,50.81,25.83,0.11,2000-2
2,2000,3,1,8.48,42.88,26.68,0.01,2000-3
3,2000,4,1,13.79,55.69,22.49,0.02,2000-4
4,2000,5,1,17.40,70.88,19.07,271.14,2000-5
...,...,...,...,...,...,...,...,...
247,2020,8,1,20.08,92.31,5.34,1203.09,2020-8
248,2020,9,1,19.71,90.12,9.22,361.30,2020-9
249,2020,10,1,18.43,82.69,12.62,180.18,2020-10
250,2020,11,1,14.83,76.06,16.95,0.49,2020-11
251,2020,12,1,12.21,69.38,17.77,12.23,2020-12

In [6]:
df['Date'] = pd.to_datetime(df['Date'])
df['Date'] = df['Date'].apply(lambda x: str(x.date()))
df # df = interpolate(df, 'Date', ['Open'])

,Year,Month,Day,Specific Humidity,Relative Humidity,Temperature,Precipitation,Date
0,2000,1,1,8.06,48.25,23.93,0.00,2000-01-01
1,2000,2,1,8.73,50.81,25.83,0.11,2000-02-01
2,2000,3,1,8.48,42.88,26.68,0.01,2000-03-01
3,2000,4,1,13.79,55.69,22.49,0.02,2000-04-01
4,2000,5,1,17.40,70.88,19.07,271.14,2000-05-01
...,...,...,...,...,...,...,...,...
247,2020,8,1,20.08,92.31,5.34,1203.09,2020-08-01
248,2020,9,1,19.71,90.12,9.22,361.30,2020-09-01
249,2020,10,1,18.43,82.69,12.62,180.18,2020-10-01
250,2020,11,1,14.83,76.06,16.95,0.49,2020-11-01
251,2020,12,1,12.21,69.38,17.77,12.23,2020-12-01

In [7]:
train_df = df[:int(0.8 * len(df))]
test_df = df[int(0.8 * len(df)):]

In [8]:
df = train_df

In [9]:
a = Arima()

In [36]:
a(df, 'Date', 'Relative Humidity')

In [37]:
a.test_stationarity() # d= 0

1. ADF :  -3.519671524601822
2. P-Value :  0.007496028536560178
3. Num Of Lags :  15
4. Num Of Observations Used For ADF Regression and Critical Values Calculation : 185
5. Critical Values :
	 1% :  -3.4662005731940853
	 5% :  -2.8772932777920364
	 10% :  -2.575167750182615


As p-value is inside the confidence interval of 95%, series is stationary.
Differenced: 0

In [38]:
a.acf_plot(0)

{'title': 'Autocorrelation plot of Relative Humidity, order = 0',
 'y': [1.0,
  0.8243485670587591,
  0.4690343349862076,
  -0.005941378036972808,
  -0.4587116257193087,
  -0.7743549915387746,
  -0.8925722286608894,
  -0.7723632286112825,
  -0.461695410201169,
  -0.013890005589502081,
  0.4359751536845025,
  0.7650964492698236,
  0.8911952331079752,
  0.7678694042190901,
  0.44015223191980973,
  0.0023049088275442545,
  -0.43410615735642843,
  -0.7320835445133744,
  -0.845055772567709,
  -0.735773945074542,
  -0.44335967833751894,
  -0.026405355811775475,
  0.3988473438867153,
  0.7198530040434182],
 'x': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23],
 'upper': [0.0,
  0.13824520037360766,
  0.21233585766391883,
  0.23129077024507136,
  0.23129368709077774,
  0.2480717902585966,
  0.29061897183262064,
  0.3389859284315617,
  0.37109766699266855,
  0.38191791638438477,
  0.3819275708767645,
  0.39132335757708936,
  0.41893787344699895,
  0.45372582985881316,
  0.4779169199384838,
  0.4856024791728779,
  0.48560268825968866,
  0.49296360254849625,
  0.5133213825971474,
  0.5392540760194713,
  0.5581108695904455,
  0.5648019533395109,
  0.5648255461083223,
  0.570182827559225],
 'lower': [0.0,
  -0.13824520037360766,
  -0.21233585766391883,
  -0.23129077024507136,
  -0.2312936870907778,
  -0.2480717902585967,
  -0.29061897183262075,
  -0.3389859284315617,
  -0.37109766699266855,
  -0.38191791638438477,
  -0.3819275708767645,
  -0.39132335757708936,
  -0.4189378734469989,
  -0.45372582985881316,
  -0.47791691993848384,
  -0.4856024791728779,
  -0.48560268825968866,
  -0.49296360254849625,
  -0.5133213825971474,
  -0.5392540760194713,
  -0.5581108695904455,
  -0.5648019533395109,
  -0.5648255461083223,
  -0.5701828275592249]}

In [39]:
a.pacf_plot(0)

{'title': 'Partial Autocorrelation plot of Relative Humidity, order = 0',
 'y': [1.0,
  0.8284703098940529,
  -0.677901023593572,
  -0.60743752518702,
  -0.3529936635526806,
  -0.19882966675325603,
  -0.32728710515124537,
  -0.18337035029304166,
  -0.15587070021677815,
  0.22442219281474546,
  0.2851462996972658,
  0.19798894391898125,
  0.2439138004809714,
  0.09986816769383032,
  -0.09464446116318476,
  -0.11283605344485925,
  -0.2847784827843406,
  0.03011961515656237,
  -0.062450669433892866,
  -0.13974576214453968,
  -0.17720014219237804,
  0.08841887286184556,
  0.13662523253890474,
  0.27709297585573606],
 'x': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23],
 'upper': [0.0,
  0.13824520037360766,
  0.13824520037360766,
  0.13824520037360766,
  0.13824520037360766,
  0.13824520037360766,
  0.13824520037360766,
  0.13824520037360766,
  0.13824520037360766,
  0.13824520037360766,
  0.13824520037360766,
  0.13824520037360766,
  0.13824520037360766,
  0.13824520037360766,
  0.13824520037360766,
  0.13824520037360766,
  0.13824520037360766,
  0.13824520037360766,
  0.13824520037360766,
  0.13824520037360766,
  0.13824520037360766,
  0.13824520037360766,
  0.13824520037360766,
  0.13824520037360766],
 'lower': [0.0,
  -0.13824520037360766,
  -0.13824520037360766,
  -0.13824520037360766,
  -0.13824520037360766,
  -0.13824520037360766,
  -0.13824520037360766,
  -0.13824520037360766,
  -0.13824520037360769,
  -0.13824520037360766,
  -0.13824520037360766,
  -0.13824520037360766,
  -0.13824520037360766,
  -0.13824520037360766,
  -0.13824520037360766,
  -0.13824520037360766,
  -0.13824520037360766,
  -0.13824520037360766,
  -0.13824520037360766,
  -0.13824520037360769,
  -0.13824520037360763,
  -0.13824520037360766,
  -0.13824520037360766,
  -0.13824520037360766]}

In [75]:
a.fit(order = (1,0,3))

/home/shail/bits/PS1/time_series_analysis/env/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)
/home/shail/bits/PS1/time_series_analysis/env/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)
/home/shail/bits/PS1/time_series_analysis/env/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)

                               SARIMAX Results
==============================================================================
Dep. Variable:      Relative Humidity   No. Observations:                  201
Model:                 ARIMA(1, 0, 3)   Log Likelihood                -718.848
Date:                Mon, 03 Jul 2023   AIC                           1449.697
Time:                        13:42:33   BIC                           1469.516
Sample:                    01-01-2000   HQIC                          1457.717
                         - 09-01-2016
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         67.2507      0.388    173.479      0.000      66.491      68.011
ar.L1          0.8639      0.061     14.052      0.000       0.743       0.984
ma.L1          0.0701      0.070      0.996      0.319      -0.068       0.208
ma.L2         -0.3379      0.060     -5.607      0.000      -0.456      -0.220
ma.L3         -0.6643      0.061    -10.886      0.000      -0.784      -0.545
sigma2        73.9816      8.814      8.394      0.000      56.707      91.256
===================================================================================
Ljung-Box (L1) (Q):                  16.89   Jarque-Bera (JB):                 2.76
Prob(Q):                              0.00   Prob(JB):                         0.25
Heteroskedasticity (H):               1.00   Skew:                            -0.07
Prob(H) (two-sided):                  1.00   Kurtosis:                         2.44
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

In [76]:
a.error_metrics(test_df, 'Temperature')

  Metric        Value
0   MAPE     4.119302
1    MAE    50.269586
2    MSE  2577.564149

In [77]:
a.plot_forecast(test_df, 'Temperature', exclude_time=True)

{'title': 'Forecast of Relative Humidity:',
 'x': ['2000-01-01',
  '2000-02-01',
  '2000-03-01',
  '2000-04-01',
  '2000-05-01',
  '2000-06-01',
  '2000-07-01',
  '2000-08-01',
  '2000-09-01',
  '2000-10-01',
  '2000-11-01',
  '2000-12-01',
  '2001-01-01',
  '2001-02-01',
  '2001-03-01',
  '2001-04-01',
  '2001-05-01',
  '2001-06-01',
  '2001-07-01',
  '2001-08-01',
  '2001-09-01',
  '2001-10-01',
  '2001-11-01',
  '2001-12-01',
  '2002-01-01',
  '2002-02-01',
  '2002-03-01',
  '2002-04-01',
  '2002-05-01',
  '2002-06-01',
  '2002-07-01',
  '2002-08-01',
  '2002-09-01',
  '2002-10-01',
  '2002-11-01',
  '2002-12-01',
  '2003-01-01',
  '2003-02-01',
  '2003-03-01',
  '2003-04-01',
  '2003-05-01',
  '2003-06-01',
  '2003-07-01',
  '2003-08-01',
  '2003-09-01',
  '2003-10-01',
  '2003-11-01',
  '2003-12-01',
  '2004-01-01',
  '2004-02-01',
  '2004-03-01',
  '2004-04-01',
  '2004-05-01',
  '2004-06-01',
  '2004-07-01',
  '2004-08-01',
  '2004-09-01',
  '2004-10-01',
  '2004-11-01',
  '2004-12-01',
  '2005-01-01',
  '2005-02-01',
  '2005-03-01',
  '2005-04-01',
  '2005-05-01',
  '2005-06-01',
  '2005-07-01',
  '2005-08-01',
  '2005-09-01',
  '2005-10-01',
  '2005-11-01',
  '2005-12-01',
  '2006-01-01',
  '2006-02-01',
  '2006-03-01',
  '2006-04-01',
  '2006-05-01',
  '2006-06-01',
  '2006-07-01',
  '2006-08-01',
  '2006-09-01',
  '2006-10-01',
  '2006-11-01',
  '2006-12-01',
  '2007-01-01',
  '2007-02-01',
  '2007-03-01',
  '2007-04-01',
  '2007-05-01',
  '2007-06-01',
  '2007-07-01',
  '2007-08-01',
  '2007-09-01',
  '2007-10-01',
  '2007-11-01',
  '2007-12-01',
  '2008-01-01',
  '2008-02-01',
  '2008-03-01',
  '2008-04-01',
  '2008-05-01',
  '2008-06-01',
  '2008-07-01',
  '2008-08-01',
  '2008-09-01',
  '2008-10-01',
  '2008-11-01',
  '2008-12-01',
  '2009-01-01',
  '2009-02-01',
  '2009-03-01',
  '2009-04-01',
  '2009-05-01',
  '2009-06-01',
  '2009-07-01',
  '2009-08-01',
  '2009-09-01',
  '2009-10-01',
  '2009-11-01',
  '2009-12-01',
  '2010-01-01',
  '2010-02-01',
  '2010-03-01',
  '2010-04-01',
  '2010-05-01',
  '2010-06-01',
  '2010-07-01',
  '2010-08-01',
  '2010-09-01',
  '2010-10-01',
  '2010-11-01',
  '2010-12-01',
  '2011-01-01',
  '2011-02-01',
  '2011-03-01',
  '2011-04-01',
  '2011-05-01',
  '2011-06-01',
  '2011-07-01',
  '2011-08-01',
  '2011-09-01',
  '2011-10-01',
  '2011-11-01',
  '2011-12-01',
  '2012-01-01',
  '2012-02-01',
  '2012-03-01',
  '2012-04-01',
  '2012-05-01',
  '2012-06-01',
  '2012-07-01',
  '2012-08-01',
  '2012-09-01',
  '2012-10-01',
  '2012-11-01',
  '2012-12-01',
  '2013-01-01',
  '2013-02-01',
  '2013-03-01',
  '2013-04-01',
  '2013-05-01',
  '2013-06-01',
  '2013-07-01',
  '2013-08-01',
  '2013-09-01',
  '2013-10-01',
  '2013-11-01',
  '2013-12-01',
  '2014-01-01',
  '2014-02-01',
  '2014-03-01',
  '2014-04-01',
  '2014-05-01',
  '2014-06-01',
  '2014-07-01',
  '2014-08-01',
  '2014-09-01',
  '2014-10-01',
  '2014-11-01',
  '2014-12-01',
  '2015-01-01',
  '2015-02-01',
  '2015-03-01',
  '2015-04-01',
  '2015-05-01',
  '2015-06-01',
  '2015-07-01',
  '2015-08-01',
  '2015-09-01',
  '2015-10-01',
  '2015-11-01',
  '2015-12-01',
  '2016-01-01',
  '2016-02-01',
  '2016-03-01',
  '2016-04-01',
  '2016-05-01',
  '2016-06-01',
  '2016-07-01',
  '2016-08-01',
  '2016-09-01',
  '2016-10-01',
  '2016-11-01',
  '2016-12-01',
  '2017-01-01',
  '2017-02-01',
  '2017-03-01',
  '2017-04-01',
  '2017-05-01',
  '2017-06-01',
  '2017-07-01',
  '2017-08-01',
  '2017-09-01',
  '2017-10-01',
  '2017-11-01',
  '2017-12-01',
  '2018-01-01',
  '2018-02-01',
  '2018-03-01',
  '2018-04-01',
  '2018-05-01',
  '2018-06-01',
  '2018-07-01',
  '2018-08-01',
  '2018-09-01',
  '2018-10-01',
  '2018-11-01',
  '2018-12-01',
  '2019-01-01',
  '2019-02-01',
  '2019-03-01',
  '2019-04-01',
  '2019-05-01',
  '2019-06-01',
  '2019-07-01',
  '2019-08-01',
  '2019-09-01',
  '2019-10-01',
  '2019-11-01',
  '2019-12-01',
  '2020-01-01',
  '2020-02-01',
  '2020-03-01',
  '2020-04-01',
  '2020-05-01',
  '2020-06-01',
  '2020-07-01',
  '2020-08-01',
  '2020-09-01',
  '2020-10-01',
  '2020-11-01',
  '2020-12-01'],
 'y_series': [48.25,
  50.81,
  42.88,
  55.69,
  70.88,
  84.19,
  88.5,
  88.44,
  86.12,
  78.38,
  63.69,
  44.56,
  45.81,
  41.56,
  55.56,
  49.69,
  62.44,
  81.94,
  89.0,
  90.94,
  87.69,
  80.19,
  66.56,
  56.44,
  51.06,
  39.31,
  43.44,
  50.12,
  60.44,
  78.06,
  85.12,
  89.88,
  85.75,
  71.75,
  57.0,
  48.75,
  43.25,
  48.12,
  42.19,
  52.44,
  58.44,
  79.75,
  89.81,
  89.5,
  88.94,
  76.0,
  69.81,
  56.44,
  51.94,
  38.88,
  37.19,
  57.25,
  62.81,
  81.31,
  87.25,
  90.62,
  87.0,
  76.69,
  66.5,
  54.44,
  49.5,
  46.69,
  48.5,
  48.5,
  59.81,
  76.12,
  91.12,
  90.19,
  92.06,
  76.81,
  66.81,
  58.5,
  49.38,
  38.5,
  48.25,
  56.88,
  63.94,
  81.62,
  91.12,
  91.56,
  90.44,
  79.38,
  74.56,
  62.12,
  51.56,
  53.69,
  42.44,
  50.88,
  60.12,
  81.25,
  89.75,
  90.81,
  89.62,
  73.5,
  67.94,
  60.69,
  47.12,
  39.25,
  44.62,
  51.94,
  61.44,
  84.12,
  89.38,
  90.31,
  88.88,
  75.06,
  67.69,
  58.06,
  50.12,
  39.81,
  42.19,
  47.75,
  58.56,
  73.06,
  90.44,
  89.44,
  88.69,
  75.62,
  75.12,
  67.12,
  56.94,
  50.5,
  47.12,
  53.25,
  59.88,
  84.19,
  91.5,
  91.06,
  88.75,
  81.88,
  82.31,
  70.69,
  56.69,
  51.19,
  39.44,
  55.12,
  60.94,
  82.5,
  90.06,
  91.38,
  88.56,
  79.06,
  66.69,
  58.62,
  54.44,
  35.88,
  37.5,
  53.44,
  61.19,
  74.69,
  88.75,
  90.31,
  89.06,
  78.44,
  67.31,
  63.0,
  53.44,
  49.81,
  43.0,
  55.75,
  60.31,
  86.5,
  91.69,
  89.81,
  88.62,
  81.94,
  71.12,
  60.88,
  56.69,
  48.56,
  45.31,
  48.88,
  56.56,
  68.06,
  86.69,
  90.44,
  86.88,
  75.31,
  66.94,
  54.5,
  53.25,
  43.69,
  50.25,
  56.38,
  61.25,
  80.62,
  86.62,
  87.44,
  84.44,
  75.81,
  69.44,
  52.5,
  45.5,
  50.56,
  47.94,
  53.75,
  61.38,
  77.31,
  91.19,
  90.75,
  90.0,
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-'],
 'y_test': ['-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  15.45,
  18.4,
  20.38,
  23.98,
  24.93,
  27.39,
  23.02,
  16.91,
  12.02,
  5.37,
  6.88,
  10.27,
  15.91,
  15.95,
  16.84,
  21.09,
  24.09,
  23.45,
  20.49,
  16.92,
  13.05,
  5.98,
  5.61,
  12.2,
  17.13,
  17.18,
  21.98,
  23.41,
  27.1,
  26.17,
  24.02,
  18.42,
  13.71,
  6.38,
  6.16,
  6.7,
  11.93,
  13.65,
  17.22,
  22.98,
  24.97,
  24.87,
  22.09,
  16.63,
  11.76,
  7.08,
  5.34,
  9.22,
  12.62,
  16.95,
  17.77],
 'y_forecast': ['-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  76.64216852099418,
  69.04268822022465,
  62.18467063163663,
  62.874019572673106,
  63.46956753981394,
  63.98407820350235,
  64.42857845815017,
  64.81259474843571,
  65.14435723824914,
  65.43097619799528,
  65.67859439055272,
  65.89251872179625,
  66.07733397719142,
  66.23700108204216,
  66.37494199128638,
  66.49411302818162,
  66.5970682436612,
  66.68601415426667,
  66.76285703178954,
  66.82924375812466,
  66.88659712092894,
  66.93614630653504,
  66.97895324363837,
  67.01593536235039,
  67.04788525638575,
  67.07548766977963,
  67.0993341721913,
  67.11993583731221,
  67.13773419609988,
  67.15311069958521,
  67.1663948940581,
  67.17787148384083,
  67.18778643301671,
  67.19635223688537,
  67.20375247612161,
  67.21014575124127,
  67.21566908169734,
  67.22044084245469,
  67.22456330097977,
  67.22812480901739,
  67.23120169612854,
  67.23385990557094,
  67.23615640758234,
  67.23814042035586,
  67.23985446487485,
  67.24133527621451,
  67.24261459084104,
  67.24371982678153,
  67.24467467124182,
  67.24549958826631,
  67.2462122573193]}