# VISUALIZATIONS

Output of each function are paramters that can be used in Apache ECharts

In [45]:
import pandas as pd

## Waterfall Plot

In [46]:
def waterfall_plot(df: pd.DataFrame, x: str, y: str, title: str):
    vals = df[y].to_list()
    color_labels =[]
    for i in range (1, len(vals)):
        if vals[i] > vals[i-1]:
            color_labels.append('i')
            i_list = [vals[0]]
            d_list = ['-']
        else:
            color_labels.append('d')
            i_list = ['-']
            d_list = [0]
    y = [0]
    c = 0
    for i in range(1, len(vals)):
        if color_labels[c] == 'd':
            y.append(round(vals[i], 2))
            d_list.append(round(vals[i-1] - vals[i], 2))
            i_list.append('-')
        else:
            y.append(vals[i-1])
            i_list.append(round(vals[i] - vals[i-1], 2))
            d_list.append('-')
        c += 1
    return {
        't': title,
        'x': df[x].to_list(),
        'y': y,
        'i': i_list,
        'd': d_list
    }

In [47]:
df = pd.read_csv('data/2/Electric_Production.csv')
df['Year'] = df['DATE'].apply(lambda x: x[-4:])
df.head()

       DATE  IPG2211A2N  Year
0  1/1/1985     72.5052  1985
1  2/1/1985     70.6720  1985
2  3/1/1985     62.4502  1985
3  4/1/1985     57.4714  1985
4  5/1/1985     55.3151  1985

In [48]:
df = pd.DataFrame(df[df['Year'] == '1985'])
df

         DATE  IPG2211A2N  Year
0    1/1/1985     72.5052  1985
1    2/1/1985     70.6720  1985
2    3/1/1985     62.4502  1985
3    4/1/1985     57.4714  1985
4    5/1/1985     55.3151  1985
5    6/1/1985     58.0904  1985
6    7/1/1985     62.6202  1985
7    8/1/1985     63.2485  1985
8    9/1/1985     60.5846  1985
9   10/1/1985     56.3154  1985
10  11/1/1985     58.0005  1985
11  12/1/1985     68.7145  1985

In [49]:
waterfall_plot(df, 'DATE', 'IPG2211A2N', 'Electric Production')

{'t': 'Electric Production',
 'x': ['1/1/1985',
  '2/1/1985',
  '3/1/1985',
  '4/1/1985',
  '5/1/1985',
  '6/1/1985',
  '7/1/1985',
  '8/1/1985',
  '9/1/1985',
  '10/1/1985',
  '11/1/1985',
  '12/1/1985'],
 'y': [0,
  70.67,
  62.45,
  57.47,
  55.32,
  55.3151,
  58.0904,
  62.6202,
  60.58,
  56.32,
  56.3154,
  58.0005],
 'i': [72.5052, '-', '-', '-', '-', 2.78, 4.53, 0.63, '-', '-', 1.69, 10.71],
 'd': ['-', 1.83, 8.22, 4.98, 2.16, '-', '-', '-', 2.66, 4.27, '-', '-']}

## Stacked Area Plot

In [50]:
def stacked_area_plot(df, columns, x, title):
    return {
        'title': title,
        'names': columns,
        'vals': list(df[columns].values.T),
        'x': df[x].to_list()
    }

In [51]:
df = pd.read_csv('data/3/DailyDelhiClimateTrain.csv')
df

            date   meantemp    humidity  wind_speed  meanpressure
0     2013-01-01  10.000000   84.500000    0.000000   1015.666667
1     2013-01-02   7.400000   92.000000    2.980000   1017.800000
2     2013-01-03   7.166667   87.000000    4.633333   1018.666667
3     2013-01-04   8.666667   71.333333    1.233333   1017.166667
4     2013-01-05   6.000000   86.833333    3.700000   1016.500000
...          ...        ...         ...         ...           ...
1457  2016-12-28  17.217391   68.043478    3.547826   1015.565217
1458  2016-12-29  15.238095   87.857143    6.000000   1016.904762
1459  2016-12-30  14.095238   89.666667    6.266667   1017.904762
1460  2016-12-31  15.052632   87.000000    7.325000   1016.100000
1461  2017-01-01  10.000000  100.000000    0.000000   1016.000000

[1462 rows x 5 columns]

In [52]:
x = stacked_area_plot(df, ['meantemp', 'humidity', 'wind_speed', 'meanpressure'], 'date', 'Delhi weather')

In [53]:
x['x'][:30]

['2013-01-01',
 '2013-01-02',
 '2013-01-03',
 '2013-01-04',
 '2013-01-05',
 '2013-01-06',
 '2013-01-07',
 '2013-01-08',
 '2013-01-09',
 '2013-01-10',
 '2013-01-11',
 '2013-01-12',
 '2013-01-13',
 '2013-01-14',
 '2013-01-15',
 '2013-01-16',
 '2013-01-17',
 '2013-01-18',
 '2013-01-19',
 '2013-01-20',
 '2013-01-21',
 '2013-01-22',
 '2013-01-23',
 '2013-01-24',
 '2013-01-25',
 '2013-01-26',
 '2013-01-27',
 '2013-01-28',
 '2013-01-29',
 '2013-01-30']

In [54]:
[round(i/10, 3) for i in x['vals'][3][:30].tolist()], x['names'][3]

([101.567,
  101.78,
  101.867,
  101.717,
  101.65,
  101.8,
  102.0,
  101.871,
  101.7,
  101.567,
  101.614,
  101.557,
  101.333,
  101.517,
  101.586,
  101.667,
  101.583,
  101.45,
  102.167,
  102.029,
  102.1,
  102.18,
  102.05,
  102.05,
  102.075,
  101.967,
  101.814,
  101.783,
  101.662,
  101.786],
 'meanpressure')

In [55]:
x['names']

['meantemp', 'humidity', 'wind_speed', 'meanpressure']

In [56]:
x['title']

'Delhi weather'

## Lag Plot

In [57]:
from sklearn.cluster import KMeans

In [58]:
def lag_plot(timeseries, lag, data_reduce = 1):
    x = timeseries.values[:-lag].tolist()
    y = timeseries.values[lag:].tolist()
    data = []
    for i in range(len(x)):
        data.append([x[i], y[i]])
    kmeans = KMeans(int(len(data)/data_reduce))
    kmeans.fit(data)
    data = kmeans.cluster_centers_
    return data.tolist()

In [59]:
lag_plot(df['meantemp'], 3, 10)

/home/shail/miniconda3/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

[[16.65405982905983, 18.29340659340659],
 [32.272222222222226, 30.796362433862434],
 [24.93945868945869, 26.01674603174603],
 [13.894132653061227, 14.53954081632653],
 [33.256322463768115, 35.50553571428571],
 [21.010302197802197, 22.71568825910931],
 [29.40052083333333, 30.628645833333334],
 [34.923809523809524, 32.52040816326531],
 [11.8125, 9.5],
 [28.342470702697977, 28.36789157811885],
 [20.521428571428572, 19.370535714285715],
 [35.0225525210084, 35.29154761904762],
 [19.54440476190476, 15.61923076923077],
 [23.33545918367347, 21.523286237571952],
 [32.22095004995005, 32.98304219237552],
 [26.5, 33.625],
 [16.950476190476188, 13.75654761904762],
 [14.658263305322132, 15.93893557422969],
 [24.557207236110397, 23.86081868468232],
 [30.774107142857144, 27.146309523809524],
 [27.285493827160494, 31.22783521303258],
 [11.229166666666666, 15.055555555555557],
 [36.108333333333334, 38.18214285714286],
 [28.97142857142857, 23.892857142857142],
 [31.9850291683625, 28.75532913165266],
 [13.036458333333336, 13.17738095238095],
 [29.806828703703705, 31.57472217798305],
 [18.835834037757117, 19.589160839160837],
 [35.73888888888889, 29.590277777777775],
 [27.879599567099568, 27.18736818736819],
 [24.873958333333334, 29.714285714285715],
 [9.930555555555557, 11.25],
 [21.24702380952381, 24.992063492063494],
 [7.744444444444447, 6.666666666666668],
 [37.339241946778714, 37.51785714285714],
 [31.014285714285716, 35.06241496598639],
 [26.513392857142858, 21.09375],
 [30.54137824936738, 30.775719926209057],
 [22.282738095238095, 23.331085943042464],
 [18.049107142857142, 21.328125],
 [34.05083333333333, 31.881845238095238],
 [36.34910714285714, 32.872541407867494],
 [17.358766233766232, 16.41190476190476],
 [30.499166666666667, 33.28],
 [30.504113756613755, 28.579714285714285],
 [26.52593795093795, 24.735001411631846],
 [16.958333333333336, 11.595238095238097],
 [31.204944131231088, 32.26273934213934],
 [12.526785714285714, 12.476785714285713],
 [20.3125, 16.726190476190474],
 [28.81394557823129, 29.93341836734694],
 [18.62777777777778, 13.037500000000001],
 [32.66525062656642, 37.077689393939394],
 [31.764897486772487, 29.924599206349207],
 [18.902512134330316, 17.465909090909093],
 [12.138020833333334, 16.94142316017316],
 [15.631442577030812, 17.473960353372114],
 [17.04147050865801, 20.009412202380954],
 [23.850446428571427, 27.89315476190476],
 [25.0, 18.25],
 [15.11625744047619, 14.036458333333332],
 [27.082251082251084, 29.67857142857143],
 [29.43099547511312, 27.435729847494553],
 [21.73782698782699, 20.166666666666668],
 [12.28358134920635, 11.319791666666667],
 [28.372756834215167, 29.264900454483787],
 [37.859693877551024, 35.720578231292514],
 [25.297619047619047, 27.265625],
 [13.675641025641026, 12.349679487179486],
 [34.103205128205126, 34.28553113553114],
 [32.028961547711546, 31.928881165131166],
 [37.625, 30.45],
 [28.626636904761902, 32.86210317460318],
 [29.818664965986393, 32.71084656084656],
 [23.155114421860347, 23.919263508822333],
 [38.27272727272727, 26.8125],
 [35.375, 27.716666666666665],
 [30.28472222222222, 25.67936507936508],
 [19.773059006211177, 20.99950396825397],
 [30.452847805788984, 31.72233893557423],
 [15.521011904761902, 18.954940476190473],
 [31.753125, 35.88819253663004],
 [29.987953514739228, 29.802945483749056],
 [9.53125, 9.197916666666668],
 [34.55952380952381, 36.89113190730838],
 [7.0, 14.0],
 [25.4984126984127, 30.84027777777778],
 [18.38214285714286, 23.333104395604394],
 [17.08738169180716, 15.212858037952023],
 [24.70490293339558, 22.1985844017094],
 [33.83333333333333, 28.396428571428572],
 [19.685132575757578, 18.38762025012025],
 [13.944444444444445, 17.42313664596273],
 [23.44739457710046, 22.907640790581965],
 [23.63560606060606, 19.723913043478262],
 [17.78029761904762, 17.310849567099567],
 [31.40485042735043, 33.62330586080586],
 [28.438333333333333, 34.64700980392157],
 [11.354285714285714, 13.691666666666666],
 [7.0, 11.0],
 [16.337912087912088, 16.422686688311686],
 [26.8125, 37.5625],
 [33.3269708994709, 33.00820028011204],
 [25.407261904761903, 23.185570987654323],
 [25.440674603174603, 24.77653846153846],
 [22.85669642857143, 25.190104166666668],
 [29.35362103174603, 28.763095238095236],
 [13.625, 11.322321428571428],
 [36.12309523809524, 31.72026315789474],
 [8.857142857142858, 15.714285714285714],
 [35.89285714285714, 33.839285714285715],
 [15.791116522366522, 15.387152777777779],
 [31.312900112707805, 31.076024701793934],
 [28.757572028811524, 31.623430141287283],
 [19.875, 25.375],
 [24.514342139342137, 24.87284916262189],
 [15.121825396825397, 12.291666666666668],
 [27.52602564102564, 26.106838624338625],
 [32.88032544378698, 30.15542328042328],
 [11.334821428571429, 12.354166666666666],
 [34.23160714285714, 30.192559523809525],
 [22.035833333333333, 22.093737950645846],
 [12.471245421245422, 14.784111721611719],
 [37.63125, 32.45982142857143],
 [33.06204447210983, 31.41361111111111],
 [6.0, 8.857142857142858],
 [36.076190476190476, 35.83163265306122],
 [21.09375, 17.59375],
 [30.321428571428573, 36.42],
 [17.701208791208792, 18.816666666666666],
 [26.701190476190476, 28.004166666666666],
 [25.516666666666666, 28.68452380952381],
 [26.380714285714287, 26.63059523809524],
 [32.703125, 34.23418898809524],
 [28.476904761904763, 25.169356261022926],
 [35.415375457875456, 31.02470238095238],
 [27.533630952380953, 23.526190476190475],
 [30.94429963798385, 29.946220710506424],
 [32.83, 27.235185185185184],
 [23.823988095238096, 26.011071428571427],
 [18.36111111111111, 15.951058201058203],
 [37.729166666666664, 34.42946428571429],
 [18.527460317460317, 18.23452380952381],
 [14.454365079365079, 9.875000000000002],
 [21.634920634920633, 18.67216117216117]]

## Stream Graph

In [60]:
df = pd.read_csv('data/3/DailyDelhiClimateTrain.csv')
df['month'] = df['date'].apply(lambda x: x[5:7])
df['year'] = df['date'].apply(lambda x: x[:4])
df.head()

         date   meantemp   humidity  wind_speed  meanpressure month  year
0  2013-01-01  10.000000  84.500000    0.000000   1015.666667    01  2013
1  2013-01-02   7.400000  92.000000    2.980000   1017.800000    01  2013
2  2013-01-03   7.166667  87.000000    4.633333   1018.666667    01  2013
3  2013-01-04   8.666667  71.333333    1.233333   1017.166667    01  2013
4  2013-01-05   6.000000  86.833333    3.700000   1016.500000    01  2013

In [61]:
df1 = pd.DataFrame(df[df['month'] == '01'])
df1 = pd.DataFrame(df1[df1['year'] == '2013'])
df1['meanpressure'] = df1['meanpressure'].apply(lambda x: x/15)
df1

          date   meantemp   humidity  wind_speed  meanpressure month  year
0   2013-01-01  10.000000  84.500000    0.000000     67.711111    01  2013
1   2013-01-02   7.400000  92.000000    2.980000     67.853333    01  2013
2   2013-01-03   7.166667  87.000000    4.633333     67.911111    01  2013
3   2013-01-04   8.666667  71.333333    1.233333     67.811111    01  2013
4   2013-01-05   6.000000  86.833333    3.700000     67.766667    01  2013
5   2013-01-06   7.000000  82.800000    1.480000     67.866667    01  2013
6   2013-01-07   7.000000  78.600000    6.300000     68.000000    01  2013
7   2013-01-08   8.857143  63.714286    7.142857     67.914286    01  2013
8   2013-01-09  14.000000  51.250000   12.500000     67.800000    01  2013
9   2013-01-10  11.000000  62.000000    7.400000     67.711111    01  2013
10  2013-01-11  15.714286  51.285714   10.571429     67.742857    01  2013
11  2013-01-12  14.000000  74.000000   13.228571     67.704762    01  2013
12  2013-01-13  15.833333  75.166667    4.633333     67.555556    01  2013
13  2013-01-14  12.833333  88.166667    0.616667     67.677778    01  2013
14  2013-01-15  14.714286  71.857143    0.528571     67.723810    01  2013
15  2013-01-16  13.833333  86.666667    0.000000     67.777778    01  2013
16  2013-01-17  16.500000  80.833333    5.250000     67.722222    01  2013
17  2013-01-18  13.833333  92.166667    8.950000     67.633333    01  2013
18  2013-01-19  12.500000  76.666667    5.883333     68.111111    01  2013
19  2013-01-20  11.285714  75.285714    8.471429     68.019048    01  2013
20  2013-01-21  11.200000  77.000000    2.220000     68.066667    01  2013
21  2013-01-22   9.500000  79.666667    3.083333     68.120000    01  2013
22  2013-01-23  14.000000  60.166667    4.016667     68.033333    01  2013
23  2013-01-24  13.833333  60.666667    6.166667     68.033333    01  2013
24  2013-01-25  12.250000  67.000000    5.550000     68.050000    01  2013
25  2013-01-26  12.666667  64.166667    6.800000     67.977778    01  2013
26  2013-01-27  12.857143  65.571429    5.557143     67.876190    01  2013
27  2013-01-28  14.833333  56.000000    3.700000     67.855556    01  2013
28  2013-01-29  14.125000  65.500000    3.237500     67.775000    01  2013
29  2013-01-30  14.714286  70.428571    1.057143     67.857143    01  2013
30  2013-01-31  16.200000  65.600000    2.960000     67.893333    01  2013

In [65]:
def stream_graph(df, columns, x):
    vals = []
    for i in columns:
        for val_idx in range(len(df[i].values.tolist())):
            vals.append([df[x].values[val_idx], df[i].values[val_idx], i])
    return {
        'data': vals,
        'names': columns
    }

In [66]:
stream_graph(df1, ['meantemp', 'humidity', 'wind_speed', 'meanpressure'], 'date')

{'data': [['2013-01-01', 10.0, 'meantemp'],
  ['2013-01-02', 7.4, 'meantemp'],
  ['2013-01-03', 7.166666666666667, 'meantemp'],
  ['2013-01-04', 8.666666666666666, 'meantemp'],
  ['2013-01-05', 6.0, 'meantemp'],
  ['2013-01-06', 7.0, 'meantemp'],
  ['2013-01-07', 7.0, 'meantemp'],
  ['2013-01-08', 8.857142857142858, 'meantemp'],
  ['2013-01-09', 14.0, 'meantemp'],
  ['2013-01-10', 11.0, 'meantemp'],
  ['2013-01-11', 15.714285714285714, 'meantemp'],
  ['2013-01-12', 14.0, 'meantemp'],
  ['2013-01-13', 15.833333333333334, 'meantemp'],
  ['2013-01-14', 12.833333333333334, 'meantemp'],
  ['2013-01-15', 14.714285714285714, 'meantemp'],
  ['2013-01-16', 13.833333333333334, 'meantemp'],
  ['2013-01-17', 16.5, 'meantemp'],
  ['2013-01-18', 13.833333333333334, 'meantemp'],
  ['2013-01-19', 12.5, 'meantemp'],
  ['2013-01-20', 11.285714285714286, 'meantemp'],
  ['2013-01-21', 11.2, 'meantemp'],
  ['2013-01-22', 9.5, 'meantemp'],
  ['2013-01-23', 14.0, 'meantemp'],
  ['2013-01-24', 13.833333333333334, 'meantemp'],
  ['2013-01-25', 12.25, 'meantemp'],
  ['2013-01-26', 12.666666666666666, 'meantemp'],
  ['2013-01-27', 12.857142857142858, 'meantemp'],
  ['2013-01-28', 14.833333333333334, 'meantemp'],
  ['2013-01-29', 14.125, 'meantemp'],
  ['2013-01-30', 14.714285714285714, 'meantemp'],
  ['2013-01-31', 16.2, 'meantemp'],
  ['2013-01-01', 84.5, 'humidity'],
  ['2013-01-02', 92.0, 'humidity'],
  ['2013-01-03', 87.0, 'humidity'],
  ['2013-01-04', 71.33333333333333, 'humidity'],
  ['2013-01-05', 86.83333333333333, 'humidity'],
  ['2013-01-06', 82.8, 'humidity'],
  ['2013-01-07', 78.6, 'humidity'],
  ['2013-01-08', 63.71428571428572, 'humidity'],
  ['2013-01-09', 51.25, 'humidity'],
  ['2013-01-10', 62.0, 'humidity'],
  ['2013-01-11', 51.285714285714285, 'humidity'],
  ['2013-01-12', 74.0, 'humidity'],
  ['2013-01-13', 75.16666666666667, 'humidity'],
  ['2013-01-14', 88.16666666666667, 'humidity'],
  ['2013-01-15', 71.85714285714286, 'humidity'],
  ['2013-01-16', 86.66666666666667, 'humidity'],
  ['2013-01-17', 80.83333333333333, 'humidity'],
  ['2013-01-18', 92.16666666666669, 'humidity'],
  ['2013-01-19', 76.66666666666667, 'humidity'],
  ['2013-01-20', 75.28571428571429, 'humidity'],
  ['2013-01-21', 77.0, 'humidity'],
  ['2013-01-22', 79.66666666666667, 'humidity'],
  ['2013-01-23', 60.16666666666666, 'humidity'],
  ['2013-01-24', 60.66666666666666, 'humidity'],
  ['2013-01-25', 67.0, 'humidity'],
  ['2013-01-26', 64.16666666666667, 'humidity'],
  ['2013-01-27', 65.57142857142857, 'humidity'],
  ['2013-01-28', 56.0, 'humidity'],
  ['2013-01-29', 65.5, 'humidity'],
  ['2013-01-30', 70.42857142857143, 'humidity'],
  ['2013-01-31', 65.6, 'humidity'],
  ['2013-01-01', 0.0, 'wind_speed'],
  ['2013-01-02', 2.98, 'wind_speed'],
  ['2013-01-03', 4.633333333333334, 'wind_speed'],
  ['2013-01-04', 1.2333333333333334, 'wind_speed'],
  ['2013-01-05', 3.7, 'wind_speed'],
  ['2013-01-06', 1.48, 'wind_speed'],
  ['2013-01-07', 6.3, 'wind_speed'],
  ['2013-01-08', 7.142857142857143, 'wind_speed'],
  ['2013-01-09', 12.5, 'wind_speed'],
  ['2013-01-10', 7.399999999999999, 'wind_speed'],
  ['2013-01-11', 10.571428571428571, 'wind_speed'],
  ['2013-01-12', 13.228571428571428, 'wind_speed'],
  ['2013-01-13', 4.633333333333334, 'wind_speed'],
  ['2013-01-14', 0.6166666666666667, 'wind_speed'],
  ['2013-01-15', 0.5285714285714286, 'wind_speed'],
  ['2013-01-16', 0.0, 'wind_speed'],
  ['2013-01-17', 5.250000000000001, 'wind_speed'],
  ['2013-01-18', 8.950000000000001, 'wind_speed'],
  ['2013-01-19', 5.883333333333333, 'wind_speed'],
  ['2013-01-20', 8.471428571428572, 'wind_speed'],
  ['2013-01-21', 2.22, 'wind_speed'],
  ['2013-01-22', 3.083333333333333, 'wind_speed'],
  ['2013-01-23', 4.016666666666667, 'wind_speed'],
  ['2013-01-24', 6.166666666666667, 'wind_speed'],
  ['2013-01-25', 5.55, 'wind_speed'],
  ['2013-01-26', 6.800000000000001, 'wind_speed'],
  ['2013-01-27', 5.557142857142857, 'wind_speed'],
  ['2013-01-28', 3.7, 'wind_speed'],
  ['2013-01-29', 3.2375, 'wind_speed'],
  ['2013-01-30', 1.0571428571428572, 'wind_speed'],
  ['2013-01-31', 2.96, 'wind_speed'],
  ['2013-01-01', 67.71111111111111, 'meanpressure'],
  ['2013-01-02', 67.85333333333332, 'meanpressure'],
  ['2013-01-03', 67.91111111111111, 'meanpressure'],
  ['2013-01-04', 67.8111111111111, 'meanpressure'],
  ['2013-01-05', 67.76666666666667, 'meanpressure'],
  ['2013-01-06', 67.86666666666666, 'meanpressure'],
  ['2013-01-07', 68.0, 'meanpressure'],
  ['2013-01-08', 67.9142857142857, 'meanpressure'],
  ['2013-01-09', 67.8, 'meanpressure'],
  ['2013-01-10', 67.71111111111111, 'meanpressure'],
  ['2013-01-11', 67.74285714285715, 'meanpressure'],
  ['2013-01-12', 67.70476190476191, 'meanpressure'],
  ['2013-01-13', 67.55555555555556, 'meanpressure'],
  ['2013-01-14', 67.67777777777778, 'meanpressure'],
  ['2013-01-15', 67.72380952380952, 'meanpressure'],
  ['2013-01-16', 67.77777777777777, 'meanpressure'],
  ['2013-01-17', 67.72222222222223, 'meanpressure'],
  ['2013-01-18', 67.63333333333334, 'meanpressure'],
  ['2013-01-19', 68.11111111111111, 'meanpressure'],
  ['2013-01-20', 68.01904761904763, 'meanpressure'],
  ['2013-01-21', 68.06666666666666, 'meanpressure'],
  ['2013-01-22', 68.11999999999999, 'meanpressure'],
  ['2013-01-23', 68.03333333333333, 'meanpressure'],
  ['2013-01-24', 68.03333333333333, 'meanpressure'],
  ['2013-01-25', 68.05, 'meanpressure'],
  ['2013-01-26', 67.97777777777777, 'meanpressure'],
  ['2013-01-27', 67.87619047619049, 'meanpressure'],
  ['2013-01-28', 67.85555555555555, 'meanpressure'],
  ['2013-01-29', 67.775, 'meanpressure'],
  ['2013-01-30', 67.85714285714285, 'meanpressure'],
  ['2013-01-31', 67.89333333333333, 'meanpressure']],
 'names': ['meantemp', 'humidity', 'wind_speed', 'meanpressure']}