# Visulaizations and Plots in Time Series Analysis

In [1]:
import pandas as pd

## Dataset

In [2]:
# importing from kaggle
df = pd.read_csv('data/1/train.csv')

In [3]:
df.head()

         Date  store  product  number_sold
0  2010-01-01      0        0          801
1  2010-01-02      0        0          810
2  2010-01-03      0        0          818
3  2010-01-04      0        0          796
4  2010-01-05      0        0          808

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230090 entries, 0 to 230089
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Date         230090 non-null  object
 1   store        230090 non-null  int64
 2   product      230090 non-null  int64
 3   number_sold  230090 non-null  int64
dtypes: int64(3), object(1)
memory usage: 7.0+ MB