# Dataset: [Daily Delhi Climate](https://www.kaggle.com/datasets/sumanthvrao/daily-climate-time-series-data)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../datasets/5/AMZN_ts.csv')

In [3]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-05-01,1563.219971,1585.000000,1552.180054,1582.260010,1582.260010,4572100
1,2018-05-02,1580.979980,1588.500000,1566.359985,1569.680054,1569.680054,4360300
2,2018-05-03,1560.010010,1574.800049,1546.020020,1572.079956,1572.079956,4251900
3,2018-05-04,1562.449951,1584.900024,1562.189941,1580.949951,1580.949951,3443600
4,2018-05-07,1589.339966,1606.949951,1587.829956,1600.140015,1600.140015,3801900
...,...,...,...,...,...,...,...
247,2019-04-25,1917.000000,1922.449951,1900.310059,1902.250000,1902.250000,6099100
248,2019-04-26,1929.000000,1951.000000,1898.000000,1950.630005,1950.630005,8432600
249,2019-04-29,1949.000000,1956.339966,1934.089966,1938.430054,1938.430054,4021300
250,2019-04-30,1930.099976,1935.709961,1906.949951,1926.520020,1926.520020,3506000
251,2019-05-01,1933.089966,1943.640015,1910.550049,1911.520020,1911.520020,3117000

In [4]:
df.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [5]:
import sys
sys.path.insert(0, '/home/shail/bits/PS1/time_series_analysis')

original_stdout = sys.stdout 
	
def outfile(x):
    with open('output.txt', 'w') as f:
        sys.stdout = f
        print(x)
        sys.stdout = original_stdout

In [6]:
from tsa.dateconverter import DateConverter

### Filtering

# Date Conversion

In [7]:
converter = DateConverter()
df['Date'] = df['Date'].apply(lambda x: converter.convert_date(x, infer_format=True))
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-05-01,1563.219971,1585.000000,1552.180054,1582.260010,1582.260010,4572100
1,2018-05-02,1580.979980,1588.500000,1566.359985,1569.680054,1569.680054,4360300
2,2018-05-03,1560.010010,1574.800049,1546.020020,1572.079956,1572.079956,4251900
3,2018-05-04,1562.449951,1584.900024,1562.189941,1580.949951,1580.949951,3443600
4,2018-05-07,1589.339966,1606.949951,1587.829956,1600.140015,1600.140015,3801900
...,...,...,...,...,...,...,...
247,2019-04-25,1917.000000,1922.449951,1900.310059,1902.250000,1902.250000,6099100
248,2019-04-26,1929.000000,1951.000000,1898.000000,1950.630005,1950.630005,8432600
249,2019-04-29,1949.000000,1956.339966,1934.089966,1938.430054,1938.430054,4021300
250,2019-04-30,1930.099976,1935.709961,1906.949951,1926.520020,1926.520020,3506000
251,2019-05-01,1933.089966,1943.640015,1910.550049,1911.520020,1911.520020,3117000

## Interpolation

In [8]:
from tsa.interpolation import interpolate_dates as interpolate

In [9]:
df = interpolate(df, 'Date', ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'])
df

,Open,High,Low,Close,Adj Close,Volume,Date
0,1563.219971,1585.000000,1552.180054,1582.260010,1582.260010,4.572100e+06,2018-05-01
1,1580.979980,1588.500000,1566.359985,1569.680054,1569.680054,4.360300e+06,2018-05-02
2,1560.010010,1574.800049,1546.020020,1572.079956,1572.079956,4.251900e+06,2018-05-03
3,1562.449951,1584.900024,1562.189941,1580.949951,1580.949951,3.443600e+06,2018-05-04
4,1571.413289,1592.250000,1570.736613,1587.346639,1587.346639,3.563033e+06,2018-05-05
...,...,...,...,...,...,...,...
361,1935.666667,1952.779989,1910.029989,1946.563355,1946.563355,6.962167e+06,2019-04-27
362,1942.333333,1954.559977,1922.059977,1942.496704,1942.496704,5.491733e+06,2019-04-28
363,1949.000000,1956.339966,1934.089966,1938.430054,1938.430054,4.021300e+06,2019-04-29
364,1930.099976,1935.709961,1906.949951,1926.520020,1926.520020,3.506000e+06,2019-04-30
365,1933.089966,1943.640015,1910.550049,1911.520020,1911.520020,3.117000e+06,2019-05-01

# Visualizations

In [10]:
from tsa.visualization import *

In [11]:
small_df = pd.DataFrame(df[:15])
small_df

,Open,High,Low,Close,Adj Close,Volume,Date
0,1563.219971,1585.000000,1552.180054,1582.260010,1582.260010,4.572100e+06,2018-05-01
1,1580.979980,1588.500000,1566.359985,1569.680054,1569.680054,4.360300e+06,2018-05-02
2,1560.010010,1574.800049,1546.020020,1572.079956,1572.079956,4.251900e+06,2018-05-03
3,1562.449951,1584.900024,1562.189941,1580.949951,1580.949951,3.443600e+06,2018-05-04
4,1571.413289,1592.250000,1570.736613,1587.346639,1587.346639,3.563033e+06,2018-05-05
5,1580.376628,1599.599975,1579.283284,1593.743327,1593.743327,3.682467e+06,2018-05-06
6,1589.339966,1606.949951,1587.829956,1600.140015,1600.140015,3.801900e+06,2018-05-07
7,1595.000000,1596.880005,1582.510010,1592.390015,1592.390015,3.067900e+06,2018-05-08
8,1600.000000,1608.000000,1592.000000,1608.000000,1608.000000,3.637300e+06,2018-05-09
9,1608.479980,1615.599976,1603.439941,1609.079956,1609.079956,2.817500e+06,2018-05-10
10,1610.989990,1611.099976,1597.890015,1602.910034,1602.910034,2.263900e+06,2018-05-11
11,1608.659993,1611.126669,1598.610026,1602.453369,1602.453369,2.345767e+06,2018-05-12
12,1606.329997,1611.153361,1599.330038,1601.996704,1601.996704,2.427633e+06,2018-05-13
13,1604.000000,1611.180054,1600.050049,1601.540039,1601.540039,2.509500e+06,2018-05-14
14,1587.800049,1587.800049,1565.219971,1576.119995,1576.119995,5.077500e+06,2018-05-15

## Waterfall Plot

In [12]:
plot_params = waterfall_plot(small_df, 'Date', 'Open', 'Waterfall plot of Stock', remove_time=True)

In [13]:
outfile(plot_params['d'])

## Lag Plot

In [14]:
data = lag_plot(df['Adj Close'], 30, 'Lag plot of stock', 1)

/home/shail/bits/PS1/time_series_analysis/env/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [15]:
outfile(data['data'])

## Stacked Area Chart

In [16]:
x = stacked_area_plot(df, ['Open', 'Close', 'Low'], 'Date', 'stacked_area_plot', remove_time=True)

In [17]:
x.keys()

dict_keys(['title', 'names', 'vals', 'x'])

In [18]:
outfile(x['x'])

# Properties

In [19]:
from tsa.properties import *

In [20]:
trend = Trend(df, 'Close', 'Date')

In [21]:
params = trend.plot(remove_time = True)

In [22]:
params.keys()

dict_keys(['title', 'data', 'x'])

In [23]:
outfile(params['data'])

In [24]:
trend.detrend()

               Original      Detrend
Date
2018-05-01  1582.260010  1582.260010
2018-05-02  1569.680054  1562.598866
2018-05-03  1572.079956  1557.917580
2018-05-04  1580.949951  1559.706387
2018-05-05  1587.346639  1559.021887
...                 ...          ...
2019-04-27  1946.563355  -609.745490
2019-04-28  1942.496704  -620.893328
2019-04-29  1938.430054  -632.041166
2019-04-30  1926.520020  -651.032388
2019-05-01  1911.520020  -673.113576

[366 rows x 2 columns]

In [25]:
p = trend.plot_detrend(remove_time = True)

In [26]:
p.keys()

dict_keys(['title', 'data', 'data_detrend', 'x'])

In [27]:
outfile(p['x'])

## Seasonality

In [28]:
seasonality = Seasonality(df, 'Close', 'Date')

In [29]:
seasonality.seasonal()

Date
2018-05-01    1.000731
2018-05-02    1.004222
2018-05-03    1.004179
2018-05-04    0.998911
2018-05-05    0.998172
                ...
2019-04-27    0.998172
2019-04-28    0.997358
2019-04-29    0.996428
2019-04-30    1.000731
2019-05-01    1.004222
Name: seasonal, Length: 366, dtype: float64

In [30]:
seasonality.deseasonalize()

               Original  Deseasonalized
Date
2018-05-01  1582.260010     1581.104511
2018-05-02  1569.680054     1563.080726
2018-05-03  1572.079956     1565.538095
2018-05-04  1580.949951     1582.674260
2018-05-05  1587.346639     1590.253597
...                 ...             ...
2019-04-27  1946.563355     1950.128157
2019-04-28  1942.496704     1947.643168
2019-04-29  1938.430054     1945.378176
2019-04-30  1926.520020     1925.113114
2019-05-01  1911.520020     1903.483511

[366 rows x 2 columns]

## Stationarity: now integrated with ARIMA

## Autocorrelation

In [31]:
a = Autocorrelation()

In [32]:
a.autocorrelation(df['Open'])

{'title': 'Autocorrelation plot of Open, order = 0',
 'y': [1.0,
  0.9752979711988511,
  0.9531624310423276,
  0.9290210639586053,
  0.9063984537194453,
  0.8810893912066061,
  0.8545592795815025,
  0.8320333502537866,
  0.8073821527564129,
  0.7855213221620925,
  0.7668318936038371,
  0.7467704513474687,
  0.7263441881084176,
  0.7070064186149615,
  0.6945159192909174,
  0.6815382510394706,
  0.6690081523464364,
  0.6531988376666664,
  0.6391447422559996,
  0.628512541913889,
  0.6146886914823265,
  0.6001979968731954,
  0.5811636587057813,
  0.5670600438878007,
  0.5543025014262816,
  0.5426023066094311],
 'x': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25],
 'upper': [0.0,
  0.10244895864565728,
  0.1745368359325793,
  0.22256312993017635,
  0.26009952142685233,
  0.2913718644418387,
  0.3181095947202719,
  0.3413550452256847,
  0.3620156158432688,
  0.3804457924831608,
  0.3971041716377953,
  0.4123535195652137,
  0.42631176012781924,
  0.43910860522815265,
  0.4508981892882904,
  0.4619897341500784,
  0.47242458101487084,
  0.4822657208186125,
  0.4914638087730391,
  0.5001118485229225,
  0.5083346560387837,
  0.5160771515730349,
  0.5233522550737237,
  0.5300825535692976,
  0.5364116930936625,
  0.5423902593342785],
 'lower': [0.0,
  -0.10244895864565717,
  -0.17453683593257918,
  -0.22256312993017646,
  -0.26009952142685233,
  -0.2913718644418387,
  -0.3181095947202718,
  -0.34135504522568466,
  -0.3620156158432689,
  -0.38044579248316085,
  -0.39710417163779527,
  -0.41235351956521377,
  -0.4263117601278192,
  -0.43910860522815254,
  -0.4508981892882904,
  -0.46198973415007843,
  -0.4724245810148709,
  -0.48226572081861246,
  -0.49146380877303913,
  -0.5001118485229225,
  -0.5083346560387837,
  -0.5160771515730349,
  -0.5233522550737236,
  -0.5300825535692975,
  -0.5364116930936625,
  -0.5423902593342785]}

In [34]:
a.durbin_watson_test(df['Close'], summary = True)

As value of statistic is close to 0, series is positively autocorrelated.

0.03702740744372263

## Partial Autocorrelation

In [35]:
p = PartialAutocorrelation()
p.partial_autocorrelation(df['Close'])

{'title': 'Partial Autocorrelation plot of Close, order = 0',
 'y': [1.0,
  0.9804261487011565,
  -0.03144882700935218,
  -0.025561963925761478,
  -0.07717496231254937,
  0.01458092770842006,
  0.002802284906414637,
  0.02324308082707098,
  -0.08861647801516312,
  -0.01457439596121472,
  0.06777047050555124,
  0.0282605793276168,
  0.06875026393962577,
  0.10126827102299332,
  -0.10567386298845827,
  0.07564126264204014,
  0.0076446491942542445,
  -0.03612725571784281,
  -0.04395493981606512,
  0.026099606046152184,
  -0.011043435218115018,
  -0.02040186993153929,
  0.0025801928932418887,
  0.03611952791831125,
  0.026053566440872984,
  -0.05283890056354348],
 'x': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25],
 'upper': [0.0,
  0.10244895864565717,
  0.10244895864565717,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565717,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565717,
  0.10244895864565717,
  0.1024489586456572,
  0.1024489586456572,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565717,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565719,
  0.1024489586456572,
  0.1024489586456572,
  0.10244895864565719],
 'lower': [0.0,
  -0.10244895864565717,
  -0.1024489586456572,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.1024489586456572,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.1024489586456572,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.10244895864565717,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.10244895864565717,
  -0.10244895864565719,
  -0.1024489586456572,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.10244895864565717,
  -0.10244895864565717,
  -0.10244895864565717]}

## Differencing: now integrated with ARIMA

# Models

## ARIMA

In [36]:
from tsa.models import Arima

In [37]:
train_df = df[:int(0.8 * len(df))]
test_df = df[int(0.8 * len(df)):]

df = train_df

In [38]:
model = Arima()
model(df, 'Date', 'Close')

In [40]:
model.test_stationarity(1)

1. ADF :  -17.08989694780043
2. P-Value :  7.603587980868425e-30
3. Num Of Lags :  0
4. Num Of Observations Used For ADF Regression and Critical Values Calculation : 290
5. Critical Values :
	 1% :  -3.453102162983312
	 5% :  -2.871558538275452
	 10% :  -2.5721082282996433


As p-value is inside the confidence interval of 95%, series is stationary.

In [41]:
params = model.acf_plot(1)

In [42]:
params.keys()

dict_keys(['title', 'y', 'x', 'upper', 'lower'])

In [47]:
outfile(params['lower'])

In [48]:
params = model.pacf_plot(1)

In [52]:
outfile(params['title'])

In [64]:
model.fit(order = (3,1,2))

/home/shail/bits/PS1/time_series_analysis/env/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  self._init_dates(dates, freq)
/home/shail/bits/PS1/time_series_analysis/env/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  self._init_dates(dates, freq)
/home/shail/bits/PS1/time_series_analysis/env/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  self._init_dates(dates, freq)

                               SARIMAX Results
==============================================================================
Dep. Variable:                  Close   No. Observations:                  292
Model:                 ARIMA(3, 1, 2)   Log Likelihood               -1391.661
Date:                Tue, 04 Jul 2023   AIC                           2795.321
Time:                        13:45:38   BIC                           2817.361
Sample:                    05-01-2018   HQIC                          2804.150
                         - 02-16-2019
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ar.L1          0.3394      0.041      8.290      0.000       0.259       0.420
ar.L2         -0.9530      0.024    -39.628      0.000      -1.000      -0.906
ar.L3          0.0376      0.049      0.772      0.440      -0.058       0.133
ma.L1         -0.3545      0.028    -12.816      0.000      -0.409      -0.300
ma.L2          0.9980      0.127      7.828      0.000       0.748       1.248
sigma2       824.1086    113.399      7.267      0.000     601.851    1046.367
===================================================================================
Ljung-Box (L1) (Q):                   0.00   Jarque-Bera (JB):               217.50
Prob(Q):                              1.00   Prob(JB):                         0.00
Heteroskedasticity (H):               4.71   Skew:                            -0.36
Prob(H) (two-sided):                  0.00   Kurtosis:                         7.17
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

/home/shail/bits/PS1/time_series_analysis/env/lib/python3.10/site-packages/statsmodels/base/model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [65]:
model.error_metrics(test_df, 'Close')

  Metric         Value
0   MAPE      0.088567
1    MAE    162.116491
2    MSE  36671.757574

In [66]:
params = model.plot_forecast(test_df, 'Close', exclude_time=True)

In [68]:
outfile(params['y_forecast'])