In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../datasets/5/Wind Time Series Dataset(10min).csv')

In [3]:
df

                      Time  WindSpeed      Power
0      2014-10-07 01:20:00       8.22  40.526173
1      2014-10-07 01:30:00       8.09  38.552540
2      2014-10-07 01:50:00       7.21  21.313683
3      2014-10-07 02:00:00       6.75  18.031418
4      2014-10-07 02:10:00       6.52  16.593281
...                    ...        ...        ...
39190  2015-10-06 23:10:00       7.45  30.580953
39191  2015-10-06 23:20:00       7.15  28.455153
39192  2015-10-06 23:30:00       7.27  30.080422
39193  2015-10-06 23:40:00       8.19  42.483618
39194  2015-10-06 23:50:00       7.85  38.560957

[39195 rows x 3 columns]

In [4]:
df.isna().sum()

Time         0
WindSpeed    0
Power        0
dtype: int64

In [5]:
import sys
sys.path.insert(0, '/home/shail/bits/PS1/time_series_analysis')

original_stdout = sys.stdout 
	
def outfile(x):
    with open('output.txt', 'w') as f:
        sys.stdout = f
        print(x)
        sys.stdout = original_stdout

In [6]:
from tsa.dateconverter import DateConverter

### Filtering

In [7]:

    
df['Year'] = df['Time'].apply(lambda x: x[:4])
df = pd.DataFrame(df[df['Year'] == '2015'])
df = df.reset_index().drop('index', axis = 1)
df

                      Time  WindSpeed      Power  Year
0      2015-01-01 00:10:00       6.42  29.832422  2015
1      2015-01-01 00:20:00       6.92  36.332202  2015
2      2015-01-01 00:30:00       8.11  45.594939  2015
3      2015-01-01 00:40:00       8.21  47.367194  2015
4      2015-01-01 00:50:00       6.70  28.656531  2015
...                    ...        ...        ...   ...
29782  2015-10-06 23:10:00       7.45  30.580953  2015
29783  2015-10-06 23:20:00       7.15  28.455153  2015
29784  2015-10-06 23:30:00       7.27  30.080422  2015
29785  2015-10-06 23:40:00       8.19  42.483618  2015
29786  2015-10-06 23:50:00       7.85  38.560957  2015

[29787 rows x 4 columns]

# Date Conversion

In [8]:
converter = DateConverter()
converter.directive_df()

   Code    Example                                        Description
0    %a        Sun              Weekday as locale's abbreviated name.
1    %A     Sunday                     Weekday as locale's full name.
2    %w          0  Weekday as a decimal number, where 0 is Sunday...
3    %d         08  Day of the month as a zero-padded decimal number.
4   %-d          8  Day of the month as a decimal number. (Platfor...
5    %b        Sep                Month as locale's abbreviated name.
6    %B  September                       Month as locale's full name.
7    %m         09             Month as a zero-padded decimal number.
8   %-m          9      Month as a decimal number. (Platform speciﬁc)
9    %y         13  Year without century as a zero-padded decimal ...
10   %Y       2013             Year with century as a decimal number.
11   %H         07  Hour (24-hour clock) as a zero-padded decimal ...
12  %-H          7  Hour (24-hour clock) as a decimal number. (Pla...
13   %I         07  Hour (12-hour clock) as a zero-padded decimal ...
14  %-I          7  Hour (12-hour clock) as a decimal number. (Pla...
15   %p         AM            Locale's equivalent of either AM or PM.
16   %M         06            Minute as a zero-padded decimal number.
17  %-M          6     Minute as a decimal number. (Platform speciﬁc)
18   %S         05            Second as a zero-padded decimal number.
19  %-S          5     Second as a decimal number. (Platform speciﬁc)
20   %f     000000  Microsecond as a decimal number, zero-padded t...
21   %z      +0000  UTC oﬀset in the form ±HHMM[SS[.ﬀﬀﬀ]] (empty s...
22   %Z        UTC  Time zone name (empty string if the object is ...

In [9]:
df['Time'] = df['Time'].apply(lambda x: converter.convert_date(x, include_time=True, infer_format=True))
df

                     Time  WindSpeed      Power  Year
0     2015-01-01 00:10:00       6.42  29.832422  2015
1     2015-01-01 00:20:00       6.92  36.332202  2015
2     2015-01-01 00:30:00       8.11  45.594939  2015
3     2015-01-01 00:40:00       8.21  47.367194  2015
4     2015-01-01 00:50:00       6.70  28.656531  2015
...                   ...        ...        ...   ...
29782 2015-10-06 23:10:00       7.45  30.580953  2015
29783 2015-10-06 23:20:00       7.15  28.455153  2015
29784 2015-10-06 23:30:00       7.27  30.080422  2015
29785 2015-10-06 23:40:00       8.19  42.483618  2015
29786 2015-10-06 23:50:00       7.85  38.560957  2015

[29787 rows x 4 columns]

## Interpolation

In [11]:
from tsa.interpolation import interpolate_dates as interpolate

In [12]:
df = interpolate(df, 'Time', ['WindSpeed', 'Power'], interval='10T')
df

       WindSpeed      Power                Time
0           6.42  29.832422 2015-01-01 00:10:00
1           6.92  36.332202 2015-01-01 00:20:00
2           8.11  45.594939 2015-01-01 00:30:00
3           8.21  47.367194 2015-01-01 00:40:00
4           6.70  28.656531 2015-01-01 00:50:00
...          ...        ...                 ...
40170       7.45  30.580953 2015-10-06 23:10:00
40171       7.15  28.455153 2015-10-06 23:20:00
40172       7.27  30.080422 2015-10-06 23:30:00
40173       8.19  42.483618 2015-10-06 23:40:00
40174       7.85  38.560957 2015-10-06 23:50:00

[40175 rows x 3 columns]

# Visualizations

In [13]:
from tsa.visualization import *

In [14]:
small_df = pd.DataFrame(df[:15])
small_df

    WindSpeed      Power                Time
0        6.42  29.832422 2015-01-01 00:10:00
1        6.92  36.332202 2015-01-01 00:20:00
2        8.11  45.594939 2015-01-01 00:30:00
3        8.21  47.367194 2015-01-01 00:40:00
4        6.70  28.656531 2015-01-01 00:50:00
5        6.36  24.458028 2015-01-01 01:00:00
6        5.49  20.600767 2015-01-01 01:10:00
7        5.63  22.077106 2015-01-01 01:20:00
8        5.61  22.266829 2015-01-01 01:30:00
9        6.03  23.888213 2015-01-01 01:40:00
10       6.74  28.783444 2015-01-01 01:50:00
11       7.60  39.128183 2015-01-01 02:00:00
12       7.92  46.083167 2015-01-01 02:10:00
13       7.75  46.752700 2015-01-01 02:20:00
14       7.33  37.262037 2015-01-01 02:30:00

## Waterfall Plot

In [15]:
plot_params = waterfall_plot(small_df, 'Time', 'Power', 'Waterfall plot of Power', remove_time=False)

In [20]:
outfile(plot_params['t'])

## Lag Plot

In [22]:
data = lag_plot(df['WindSpeed'], 30, 'Lag plot of wind speed', 40)

/home/shail/bits/PS1/time_series_analysis/env/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [24]:
outfile(data['title'])

## Stacked Area Chart

In [25]:
x = stacked_area_plot(df, ['Power', 'WindSpeed'], 'Time', 'stacked_area_plot', remove_time=False)

In [26]:
x.keys()

dict_keys(['title', 'names', 'vals', 'x'])

In [31]:
outfile(x['x'])

# Properties

In [32]:
from tsa.properties import *

In [33]:
trend = Trend(df, 'WindSpeed', 'Time')

In [34]:
params = trend.plot(remove_time = False)

In [35]:
params.keys()

dict_keys(['title', 'data', 'x'])

In [36]:
outfile(params['x'])

In [37]:
trend.detrend()

                     Original   Detrend
Time
2015-01-01 00:10:00      6.42  6.420000
2015-01-01 00:20:00      6.92  6.919753
2015-01-01 00:30:00      8.11  8.109506
2015-01-01 00:40:00      8.21  8.209259
2015-01-01 00:50:00      6.70  6.699012
...                       ...       ...
2015-10-06 23:10:00      7.45 -2.473928
2015-10-06 23:20:00      7.15 -2.774175
2015-10-06 23:30:00      7.27 -2.654422
2015-10-06 23:40:00      8.19 -1.734669
2015-10-06 23:50:00      7.85 -2.074916

[40175 rows x 2 columns]

In [38]:
p = trend.plot_detrend(remove_time = True)

In [39]:
p.keys()

dict_keys(['title', 'data', 'data_detrend', 'x'])

In [32]:
outfile(p['x'])

## Seasonality

In [40]:
seasonality = Seasonality(df, 'Power', 'Time')

In [41]:
seasonality.seasonal()

Time
2015-01-01 00:10:00    1.0
2015-01-01 00:20:00    1.0
2015-01-01 00:30:00    1.0
2015-01-01 00:40:00    1.0
2015-01-01 00:50:00    1.0
                      ...
2015-10-06 23:10:00    1.0
2015-10-06 23:20:00    1.0
2015-10-06 23:30:00    1.0
2015-10-06 23:40:00    1.0
2015-10-06 23:50:00    1.0
Name: seasonal, Length: 40175, dtype: float64

In [42]:
seasonality.deseasonalize()

                      Original  Deseasonalized
Time
2015-01-01 00:10:00  29.832422       29.832422
2015-01-01 00:20:00  36.332202       36.332202
2015-01-01 00:30:00  45.594939       45.594939
2015-01-01 00:40:00  47.367194       47.367194
2015-01-01 00:50:00  28.656531       28.656531
...                        ...             ...
2015-10-06 23:10:00  30.580953       30.580953
2015-10-06 23:20:00  28.455153       28.455153
2015-10-06 23:30:00  30.080422       30.080422
2015-10-06 23:40:00  42.483618       42.483618
2015-10-06 23:50:00  38.560957       38.560957

[40175 rows x 2 columns]

In [36]:
p=seasonality.plot_deseasonalize()

In [ ]:
outfile(p['data_des'])

## Stationarity: now integrated with ARIMA

## Autocorrelation

In [ ]:
a = Autocorrelation()

In [ ]:
a.autocorrelation(df['Open'])

{'title': 'Autocorrelation plot of Open, order = 0',
 'y': [1.0,
  0.9752979711988511,
  0.9531624310423276,
  0.9290210639586053,
  0.9063984537194453,
  0.8810893912066061,
  0.8545592795815025,
  0.8320333502537866,
  0.8073821527564129,
  0.7855213221620925,
  0.7668318936038371,
  0.7467704513474687,
  0.7263441881084176,
  0.7070064186149615,
  0.6945159192909174,
  0.6815382510394706,
  0.6690081523464364,
  0.6531988376666664,
  0.6391447422559996,
  0.628512541913889,
  0.6146886914823265,
  0.6001979968731954,
  0.5811636587057813,
  0.5670600438878007,
  0.5543025014262816,
  0.5426023066094311],
 'x': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25],
 'upper': [0.0,
  0.10244895864565728,
  0.1745368359325793,
  0.22256312993017635,
  0.26009952142685233,
  0.2913718644418387,
  0.3181095947202719,
  0.3413550452256847,
  0.3620156158432688,
  0.3804457924831608,
  0.3971041716377953,
  0.4123535195652137,
  0.42631176012781924,
  0.43910860522815265,
  0.4508981892882904,
  0.4619897341500784,
  0.47242458101487084,
  0.4822657208186125,
  0.4914638087730391,
  0.5001118485229225,
  0.5083346560387837,
  0.5160771515730349,
  0.5233522550737237,
  0.5300825535692976,
  0.5364116930936625,
  0.5423902593342785],
 'lower': [0.0,
  -0.10244895864565717,
  -0.17453683593257918,
  -0.22256312993017646,
  -0.26009952142685233,
  -0.2913718644418387,
  -0.3181095947202718,
  -0.34135504522568466,
  -0.3620156158432689,
  -0.38044579248316085,
  -0.39710417163779527,
  -0.41235351956521377,
  -0.4263117601278192,
  -0.43910860522815254,
  -0.4508981892882904,
  -0.46198973415007843,
  -0.4724245810148709,
  -0.48226572081861246,
  -0.49146380877303913,
  -0.5001118485229225,
  -0.5083346560387837,
  -0.5160771515730349,
  -0.5233522550737236,
  -0.5300825535692975,
  -0.5364116930936625,
  -0.5423902593342785]}

In [ ]:
a.durbin_watson_test(df['Close'], summary = True)

As value of statistic is close to 0, series is positively autocorrelated.

0.03702740744372263

## Partial Autocorrelation

In [ ]:
p = PartialAutocorrelation()
p.partial_autocorrelation(df['Close'])

{'title': 'Partial Autocorrelation plot of Close, order = 0',
 'y': [1.0,
  0.9804261487011565,
  -0.03144882700935218,
  -0.025561963925761478,
  -0.07717496231254937,
  0.01458092770842006,
  0.002802284906414637,
  0.02324308082707098,
  -0.08861647801516312,
  -0.01457439596121472,
  0.06777047050555124,
  0.0282605793276168,
  0.06875026393962577,
  0.10126827102299332,
  -0.10567386298845827,
  0.07564126264204014,
  0.0076446491942542445,
  -0.03612725571784281,
  -0.04395493981606512,
  0.026099606046152184,
  -0.011043435218115018,
  -0.02040186993153929,
  0.0025801928932418887,
  0.03611952791831125,
  0.026053566440872984,
  -0.05283890056354348],
 'x': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25],
 'upper': [0.0,
  0.10244895864565717,
  0.10244895864565717,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565717,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565717,
  0.10244895864565717,
  0.1024489586456572,
  0.1024489586456572,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565717,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565719,
  0.1024489586456572,
  0.1024489586456572,
  0.10244895864565719],
 'lower': [0.0,
  -0.10244895864565717,
  -0.1024489586456572,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.1024489586456572,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.1024489586456572,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.10244895864565717,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.10244895864565717,
  -0.10244895864565719,
  -0.1024489586456572,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.10244895864565717,
  -0.10244895864565717,
  -0.10244895864565717]}

## Differencing: now integrated with ARIMA

# Models

## ARIMA

In [43]:
from tsa.models import Arima

df = pd.DataFrame(df[:300])

In [44]:
train_df = df[:int(0.8 * len(df))]
test_df = df[int(0.8 * len(df)):]

df = train_df

In [45]:
model = Arima()
model(df, 'Time', 'Power')

In [46]:
model.test_stationarity(0)

1. ADF :  -2.970032980710227
2. P-Value :  0.0377893019014961
3. Num Of Lags :  6
4. Num Of Observations Used For ADF Regression and Critical Values Calculation : 233
5. Critical Values :
	 1% :  -3.458731141928624
	 5% :  -2.8740258764297293
	 10% :  -2.5734243167124093


As p-value is inside the confidence interval of 95%, series is stationary.

In [47]:
params = model.acf_plot(0)

In [48]:
params.keys()

dict_keys(['title', 'y', 'x', 'upper', 'lower'])

In [53]:
outfile(params['lower'])

In [54]:
params = model.pacf_plot(0)

In [59]:
outfile(params['lower'])

In [70]:
model.fit()

                               SARIMAX Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  240
Model:               SARIMAX(2, 1, 2)   Log Likelihood                -644.767
Date:                Wed, 05 Jul 2023   AIC                           1301.534
Time:                        15:19:45   BIC                           1322.393
Sample:                    01-01-2015   HQIC                          1309.939
                         - 01-02-2015
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept     -0.3545      0.857     -0.414      0.679      -2.034       1.325
ar.L1         -1.3317      0.049    -26.937      0.000      -1.429      -1.235
ar.L2         -0.6194      0.057    -10.960      0.000      -0.730      -0.509
ma.L1          1.6558      0.028     58.818      0.000       1.601       1.711
ma.L2          0.9117      0.028     32.338      0.000       0.856       0.967
sigma2        12.8405      0.660     19.457      0.000      11.547      14.134
===================================================================================
Ljung-Box (L1) (Q):                   0.99   Jarque-Bera (JB):               258.94
Prob(Q):                              0.32   Prob(JB):                         0.00
Heteroskedasticity (H):               0.66   Skew:                            -0.22
Prob(H) (two-sided):                  0.06   Kurtosis:                         8.08
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

In [71]:
model.error_metrics(test_df, 'Power')

  Metric      Value
0   MAPE   2.610034
1    MAE   4.243417
2    MSE  23.854493

In [72]:
params = model.plot_forecast(test_df, 'Power', exclude_time=False)

In [75]:
outfile(params['y_forecast'])