In [2]:
# from google.colab import files
# uploaded = files.upload()
import sys
sys.path.insert(0, '/home/shail/bits/PS1/time_series_analysis')

In [3]:
import tsa.dateconverter as converter
import pandas as pd

In [5]:
df= pd.read_csv('../datasets/4/Month_Value_1.csv')

In [6]:
df

,Period,Revenue,Sales_quantity,Average_cost,The_average_annual_payroll_of_the_region
0,01.01.2015,1.601007e+07,12729.0,1257.763541,30024676.0
1,01.02.2015,1.580759e+07,11636.0,1358.507000,30024676.0
2,01.03.2015,2.204715e+07,15922.0,1384.697024,30024676.0
3,01.04.2015,1.881458e+07,15227.0,1235.606705,30024676.0
4,01.05.2015,1.402148e+07,8620.0,1626.621765,30024676.0
...,...,...,...,...,...
91,01.08.2022,NaN,NaN,NaN,NaN
92,01.09.2022,NaN,NaN,NaN,NaN
93,01.10.2022,NaN,NaN,NaN,NaN
94,01.11.2022,NaN,NaN,NaN,NaN
95,01.12.2022,NaN,NaN,NaN,NaN

In [7]:
df.isna().sum()

Period                                       0
Revenue                                     32
Sales_quantity                              32
Average_cost                                32
The_average_annual_payroll_of_the_region    32
dtype: int64

In [8]:
df.dropna(inplace = True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64 entries, 0 to 63
Data columns (total 5 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Period                                    64 non-null     object
 1   Revenue                                   64 non-null     float64
 2   Sales_quantity                            64 non-null     float64
 3   Average_cost                              64 non-null     float64
 4   The_average_annual_payroll_of_the_region  64 non-null     float64
dtypes: float64(4), object(1)
memory usage: 3.0+ KB

In [10]:
# making date format uniform:

formatter = converter.DateConverter()
formatter.directive_df()

   Code    Example                                        Description
0    %a        Sun              Weekday as locale's abbreviated name.
1    %A     Sunday                     Weekday as locale's full name.
2    %w          0  Weekday as a decimal number, where 0 is Sunday...
3    %d         08  Day of the month as a zero-padded decimal number.
4   %-d          8  Day of the month as a decimal number. (Platfor...
5    %b        Sep                Month as locale's abbreviated name.
6    %B  September                       Month as locale's full name.
7    %m         09             Month as a zero-padded decimal number.
8   %-m          9      Month as a decimal number. (Platform speciﬁc)
9    %y         13  Year without century as a zero-padded decimal ...
10   %Y       2013             Year with century as a decimal number.
11   %H         07  Hour (24-hour clock) as a zero-padded decimal ...
12  %-H          7  Hour (24-hour clock) as a decimal number. (Pla...
13   %I         07  Hour (12-hour clock) as a zero-padded decimal ...
14  %-I          7  Hour (12-hour clock) as a decimal number. (Pla...
15   %p         AM            Locale's equivalent of either AM or PM.
16   %M         06            Minute as a zero-padded decimal number.
17  %-M          6     Minute as a decimal number. (Platform speciﬁc)
18   %S         05            Second as a zero-padded decimal number.
19  %-S          5     Second as a decimal number. (Platform speciﬁc)
20   %f     000000  Microsecond as a decimal number, zero-padded t...
21   %z      +0000  UTC oﬀset in the form ±HHMM[SS[.ﬀﬀﬀ]] (empty s...
22   %Z        UTC  Time zone name (empty string if the object is ...

In [11]:
formatter.add_format("%d.%m.%Y")

In [12]:
df['Period'] = df['Period'].apply(lambda x: formatter.convert_date(x))

In [13]:
df['Period'].values

array(['2015-01-01', '2015-02-01', '2015-03-01', '2015-04-01',
       '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01',
       '2015-09-01', '2015-10-01', '2015-11-01', '2015-12-01',
       '2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
       '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
       '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
       '2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01',
       '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01',
       '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01',
       '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01',
       '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
       '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01',
       '2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
       '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
       '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
       '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01'],
      dtype=object)

In [14]:
df['Period'] = pd.to_datetime(df['Period'])

# Testing Properties:

## Trend

In [15]:
from tsa.properties import Trend

In [16]:
t = Trend(df, 'Revenue', 'Period')

In [17]:
t.detrend()

                Original       Detrend
Period
2015-01-01  1.601007e+07  1.601007e+07
2015-02-01  1.580759e+07  1.491674e+07
2015-03-01  2.204715e+07  2.026545e+07
2015-04-01  1.881458e+07  1.614204e+07
2015-05-01  1.402148e+07  1.045809e+07
...                  ...           ...
2019-12-01  5.875647e+07  6.196449e+06
2020-01-01  5.628830e+07  2.837428e+06
2020-02-01  4.022524e+07 -1.411648e+07
2020-03-01  5.002217e+07 -5.210403e+06
2020-04-01  5.232069e+07 -3.802723e+06

[64 rows x 2 columns]

In [19]:
t.plot_detrend(remove_time = True)

{'title': 'Original vs Detrend of Revenue:',
 'data': [16010072.1195,
  15807587.449808,
  22047146.023644,
  18814583.29428,
  14021479.611678,
  16783928.522112,
  19161892.194872,
  15204984.296742,
  20603939.9751,
  20992874.780136,
  14993369.65763,
  27791807.639848,
  28601586.496,
  22367074.065584,
  29738608.568,
  28351007.9388,
  15264603.734865,
  24385658.077056,
  29486517.069955,
  15270117.2565,
  36141027.562,
  27915143.655,
  21272049.3454,
  42014159.88396,
  36007380.67,
  30396775.3784,
  47678130.72603,
  27013964.728324,
  24948844.698,
  31101345.543,
  33848822.228544,
  16454666.958,
  31650092.652,
  31572205.6224,
  22446371.0268,
  44966125.7696,
  44067520.858,
  36020287.1553,
  46995990.4125,
  35536487.6848,
  29699599.176,
  33261065.3886,
  35826534.9072,
  23268655.2112,
  35423489.85,
  39831565.6974,
  32999145.2096,
  47221828.2018,
  36459960.091485,
  36546498.663015,
  54198706.7196,
  32743989.6056,
  32531657.5397,
  47709701.6346,
  45992141.57398,
  36933665.022,
  48526260.1344,
  44160416.1824,
  36374956.4944,
  58756473.6608,
  56288300.87,
  40225243.264,
  50022165.2325,
  52320692.9428],
 'data_detrend': [16010072.1195,
  14916739.576826978,
  20265450.277681958,
  16142039.675336935,
  10458088.119753912,
  12329689.157206891,
  13816804.956985869,
  8969049.185874846,
  13477156.991251824,
  12975243.923306804,
  6084890.927819781,
  17992481.03705676,
  17911412.020227738,
  10786051.716830716,
  17266738.346265696,
  14988289.84408467,
  1011037.7671686504,
  9241244.236378627,
  13451255.356296604,
  -1655992.3301394153,
  18324070.10237956,
  9207338.322398543,
  1673396.139817521,
  21524658.805396497,
  14627031.718455479,
  8125578.553874455,
  24516086.02852343,
  2961072.1578364074,
  5104.25453138724,
  5266757.226550367,
  7123386.039113339,
  -11161617.104411677,
  3142960.7166072987,
  2174225.8140262775,
  -7842456.654554743,
  13786450.215264231,
  11996997.430683214,
  3058915.855002191,
  13143771.23922117,
  793420.6385401487,
  -5934315.743240878,
  -3263697.403621897,
  -1589075.7580029145,
  -15037803.326983944,
  -3773816.5611649603,
  -256588.5867459774,
  -7979856.947527006,
  5351978.1716919765,
  -6300737.811604045,
  -7105047.113055073,
  9656313.070548907,
  -12689251.91643212,
  -13792431.855313137,
  494764.3666058406,
  -2113643.566995181,
  -12062967.991956204,
  -1361220.7525372207,
  -6617912.577518247,
  -15294220.138499267,
  6196449.154919714,
  2837428.491138682,
  -14116476.987842336,
  -5210402.892323352,
  -3802723.0550043806],
 'x': ['2015-01-01',
  '2015-02-01',
  '2015-03-01',
  '2015-04-01',
  '2015-05-01',
  '2015-06-01',
  '2015-07-01',
  '2015-08-01',
  '2015-09-01',
  '2015-10-01',
  '2015-11-01',
  '2015-12-01',
  '2016-01-01',
  '2016-02-01',
  '2016-03-01',
  '2016-04-01',
  '2016-05-01',
  '2016-06-01',
  '2016-07-01',
  '2016-08-01',
  '2016-09-01',
  '2016-10-01',
  '2016-11-01',
  '2016-12-01',
  '2017-01-01',
  '2017-02-01',
  '2017-03-01',
  '2017-04-01',
  '2017-05-01',
  '2017-06-01',
  '2017-07-01',
  '2017-08-01',
  '2017-09-01',
  '2017-10-01',
  '2017-11-01',
  '2017-12-01',
  '2018-01-01',
  '2018-02-01',
  '2018-03-01',
  '2018-04-01',
  '2018-05-01',
  '2018-06-01',
  '2018-07-01',
  '2018-08-01',
  '2018-09-01',
  '2018-10-01',
  '2018-11-01',
  '2018-12-01',
  '2019-01-01',
  '2019-02-01',
  '2019-03-01',
  '2019-04-01',
  '2019-05-01',
  '2019-06-01',
  '2019-07-01',
  '2019-08-01',
  '2019-09-01',
  '2019-10-01',
  '2019-11-01',
  '2019-12-01',
  '2020-01-01',
  '2020-02-01',
  '2020-03-01',
  '2020-04-01']}

## Seasonality

In [20]:
from tsa.properties import Seasonality

In [21]:
s = Seasonality(df, 'Sales_quantity', 'Period')

In [22]:
s.seasonal()

Period
2015-01-01    1.016014
2015-02-01    0.914684
2015-03-01    1.351165
2015-04-01    0.992906
2015-05-01    0.652248
                ...
2019-12-01    1.528319
2020-01-01    1.016014
2020-02-01    0.914684
2020-03-01    1.351165
2020-04-01    0.992906
Name: seasonal, Length: 64, dtype: float64

In [23]:
s.deseasonalize()

            Original  Deseasonalized
Period
2015-01-01   12729.0    12528.365967
2015-02-01   11636.0    12721.334153
2015-03-01   15922.0    11783.905209
2015-04-01   15227.0    15335.799402
2015-05-01    8620.0    13215.825762
...              ...             ...
2019-12-01   38069.0    24909.073288
2020-01-01   27184.0    26755.526785
2020-02-01   23509.0    25701.774201
2020-03-01   32569.0    24104.384422
2020-04-01   26615.0    26805.168522

[64 rows x 2 columns]

In [25]:
s.plot_deseasonalize(remove_time = True)

{'title': 'Original vs Deseasonalized of Sales_quantity:',
 'data': [12729.0,
  11636.0,
  15922.0,
  15227.0,
  8620.0,
  13160.0,
  17254.0,
  8642.0,
  16144.0,
  18135.0,
  10841.0,
  22113.0,
  15365.0,
  13153.0,
  18339.0,
  13909.0,
  8553.0,
  15101.0,
  15695.0,
  8314.0,
  17764.0,
  18969.0,
  13433.0,
  27029.0,
  16889.0,
  15864.0,
  22786.0,
  17910.0,
  10777.0,
  18799.0,
  17899.0,
  9649.0,
  20159.0,
  19519.0,
  15360.0,
  30833.0,
  19812.0,
  18424.0,
  29004.0,
  22033.0,
  14959.0,
  23067.0,
  18397.0,
  12045.0,
  23358.0,
  22644.0,
  19765.0,
  33207.0,
  24096.0,
  21624.0,
  33379.0,
  22265.0,
  16967.0,
  24958.0,
  21917.0,
  14431.0,
  23253.0,
  26603.0,
  21987.0,
  38069.0,
  27184.0,
  23509.0,
  32569.0,
  26615.0],
 'data_des': [12528.365966867745,
  12721.334153134034,
  11783.905209427572,
  15335.799402174376,
  13215.825761862416,
  12651.16004914013,
  17426.172101394033,
  15505.715294496556,
  15288.577947461774,
  16507.229913549974,
  13510.390650547177,
  14468.841777408588,
  15122.817431135432,
  14379.830535937775,
  13572.731920342434,
  14008.382076892585,
  13113.104146311976,
  14517.110022953273,
  15851.615343188789,
  14917.208627452485,
  16822.739015034127,
  17266.37133885467,
  16740.621493294,
  17685.448577830994,
  16622.796198792472,
  17343.69585814011,
  16863.96583984529,
  18037.969875414925,
  16522.84851921012,
  18072.12445013566,
  18077.608348374397,
  17312.502531427595,
  19090.835161229057,
  17767.004173288224,
  19142.108697758937,
  20174.458396546783,
  19499.7239795415,
  20142.476833735083,
  21465.92053097835,
  22190.429383864717,
  22934.51711968676,
  22175.099456954053,
  18580.577729763885,
  21611.471965078803,
  22120.32976318212,
  20611.508914387956,
  24631.75640697952,
  21727.799434830507,
  23716.19972799475,
  23640.953053228804,
  24703.867101211086,
  22424.08706175954,
  26013.09926931782,
  23992.982713255267,
  22135.702674524924,
  25892.499122295743,
  22020.893397691318,
  24215.15508079239,
  27400.88176677251,
  24909.073288299533,
  26755.526784769645,
  25701.774201274322,
  24104.384421922285,
  26805.16852228745],
 'x': ['2015-01-01',
  '2015-02-01',
  '2015-03-01',
  '2015-04-01',
  '2015-05-01',
  '2015-06-01',
  '2015-07-01',
  '2015-08-01',
  '2015-09-01',
  '2015-10-01',
  '2015-11-01',
  '2015-12-01',
  '2016-01-01',
  '2016-02-01',
  '2016-03-01',
  '2016-04-01',
  '2016-05-01',
  '2016-06-01',
  '2016-07-01',
  '2016-08-01',
  '2016-09-01',
  '2016-10-01',
  '2016-11-01',
  '2016-12-01',
  '2017-01-01',
  '2017-02-01',
  '2017-03-01',
  '2017-04-01',
  '2017-05-01',
  '2017-06-01',
  '2017-07-01',
  '2017-08-01',
  '2017-09-01',
  '2017-10-01',
  '2017-11-01',
  '2017-12-01',
  '2018-01-01',
  '2018-02-01',
  '2018-03-01',
  '2018-04-01',
  '2018-05-01',
  '2018-06-01',
  '2018-07-01',
  '2018-08-01',
  '2018-09-01',
  '2018-10-01',
  '2018-11-01',
  '2018-12-01',
  '2019-01-01',
  '2019-02-01',
  '2019-03-01',
  '2019-04-01',
  '2019-05-01',
  '2019-06-01',
  '2019-07-01',
  '2019-08-01',
  '2019-09-01',
  '2019-10-01',
  '2019-11-01',
  '2019-12-01',
  '2020-01-01',
  '2020-02-01',
  '2020-03-01',
  '2020-04-01']}

## Stationarity

In [26]:
from tsa.properties import Stationarity

In [27]:
s = Stationarity(df, 'Period', 'Average_cost')

In [28]:
s.test_stationarity()

1. ADF :  -5.751134561254756
2. P-Value :  5.962883288959484e-07
3. Num Of Lags :  0
4. Num Of Observations Used For ADF Regression and Critical Values Calculation : 63
5. Critical Values :
	 1% :  -3.5386953618719676
	 5% :  -2.9086446751210775
	 10% :  -2.591896782564878


As p-value is inside the confidence interval of 95%, series is stationary.

In [29]:
s = Stationarity(df, 'Period', 'Sales_quantity')
s.test_stationarity()

1. ADF :  1.1570562060945353
2. P-Value :  0.9956753282590142
3. Num Of Lags :  11
4. Num Of Observations Used For ADF Regression and Critical Values Calculation : 52
5. Critical Values :
	 1% :  -3.562878534649522
	 5% :  -2.918973284023669
	 10% :  -2.597393446745562


As p-value is outside the confidence interval of 95%, series is non-stationary.

In [30]:
s.make_stationary(method = 'log')

p-value:  0.14663566307724246
As p-value is greater than 0.05, transformed series is non-stationary.

12    0.015684
13    0.010212
14    0.011777
15   -0.007545
16   -0.000650
17    0.011465
18   -0.007892
19   -0.003224
20    0.007969
21    0.003747
22    0.017865
23    0.016729
24    0.007881
25    0.015617
26    0.018093
27    0.021069
28    0.019261
29    0.018254
30    0.010950
31    0.012409
32    0.010540
33    0.002382
34    0.011171
35    0.010973
36    0.013302
37    0.012467
38    0.020107
39    0.017265
40    0.027325
41    0.017050
42    0.002287
43    0.018483
44    0.012274
45    0.012376
46    0.021012
47    0.006181
48    0.016313
49    0.013346
50    0.011708
51    0.000873
52    0.010496
53    0.006566
54    0.014590
55    0.015061
56   -0.000375
57    0.013427
58    0.008878
59    0.011387
60    0.010049
61    0.006965
62   -0.002047
63    0.014872
dtype: float64

In [27]:
s.make_stationary(method='power')

p-value:  5.0780400142510945e-06
As p-value is lesser than 0.05, transformed series is stationary.

12    0.927731
13    0.568020
14    0.769930
15   -0.455109
16   -0.030127
17    0.680757
18   -0.506233
19   -0.148435
20    0.518551
21    0.255145
22    0.981725
23    1.308382
24    0.500171
25    0.938820
26    1.294063
27    1.324319
28    0.944158
29    1.185277
30    0.708955
31    0.587349
32    0.725061
33    0.165202
34    0.669554
35    0.932358
36    0.899785
37    0.815222
38    1.612940
39    1.217244
40    1.541222
41    1.230733
42    0.154033
43    0.960033
44    0.904237
45    0.897402
46    1.387715
47    0.552883
48    1.206146
49    0.942998
50    1.032800
51    0.064953
52    0.662537
53    0.508564
54    1.034031
55    0.864948
56   -0.028658
57    1.052086
58    0.641007
59    1.073742
60    0.803904
61    0.522953
62   -0.185864
63    1.160536
dtype: float64

In [32]:
s.get_transform_plot_params(remove_time=True)

{'title': 'Transformed series',
 'data': [0.01568411172451256,
  0.010212177404472556,
  0.011777344920693267,
  -0.007544504602799762,
  -0.0006502488397472916,
  0.011464920074706342,
  -0.007891817530039091,
  -0.0032244330566069124,
  0.007968789484882777,
  0.0037468579174770866,
  0.017864926950142745,
  0.016728724399857953,
  0.00788086057111137,
  0.015616876810904401,
  0.01809303104676907,
  0.021068591953968152,
  0.019261011251337834,
  0.018253559178180723,
  0.01095022125587164,
  0.012409453517316038,
  0.010539741780702272,
  0.0023818568683253716,
  0.011171030136553739,
  0.01097293177562264,
  0.013302107690849496,
  0.012466814275075677,
  0.020107286602783603,
  0.01726517611745315,
  0.027324907648134555,
  0.01704994564886242,
  0.0022868968732741024,
  0.018482946085715213,
  0.012274058254840625,
  0.012375547167494005,
  0.021012164085760787,
  0.006181262674214594,
  0.016313169740957534,
  0.013345803871313677,
  0.011707767351404996,
  0.000872884107636196,
  0.010496429639038851,
  0.006565948947292455,
  0.014589581962994203,
  0.01506075286559394,
  -0.0003754484907414479,
  0.013427422934059408,
  0.008878222738598396,
  0.011386633797972223,
  0.010048559442674687,
  0.006964959798478887,
  -0.002047170334204651,
  0.01487158565425517],
 'x': ['2015-01-01',
  '2015-02-01',
  '2015-03-01',
  '2015-04-01',
  '2015-05-01',
  '2015-06-01',
  '2015-07-01',
  '2015-08-01',
  '2015-09-01',
  '2015-10-01',
  '2015-11-01',
  '2015-12-01',
  '2016-01-01',
  '2016-02-01',
  '2016-03-01',
  '2016-04-01',
  '2016-05-01',
  '2016-06-01',
  '2016-07-01',
  '2016-08-01',
  '2016-09-01',
  '2016-10-01',
  '2016-11-01',
  '2016-12-01',
  '2017-01-01',
  '2017-02-01',
  '2017-03-01',
  '2017-04-01',
  '2017-05-01',
  '2017-06-01',
  '2017-07-01',
  '2017-08-01',
  '2017-09-01',
  '2017-10-01',
  '2017-11-01',
  '2017-12-01',
  '2018-01-01',
  '2018-02-01',
  '2018-03-01',
  '2018-04-01',
  '2018-05-01',
  '2018-06-01',
  '2018-07-01',
  '2018-08-01',
  '2018-09-01',
  '2018-10-01',
  '2018-11-01',
  '2018-12-01',
  '2019-01-01',
  '2019-02-01',
  '2019-03-01',
  '2019-04-01',
  '2019-05-01',
  '2019-06-01',
  '2019-07-01',
  '2019-08-01',
  '2019-09-01',
  '2019-10-01',
  '2019-11-01',
  '2019-12-01',
  '2020-01-01',
  '2020-02-01',
  '2020-03-01',
  '2020-04-01']}

# new autocorrelation functions now in ARIMA model in models.py

In [29]:
from tsa.properties import Autocorrelation

In [30]:
a = Autocorrelation()
a.autocorrelation(df['Average_cost'], differencing = 2, n_lags = 10)

{'title': 'Autocorrelation plot: differencing = 2',
 'acf_line': [1.0,
  -0.6446784975788444,
  0.12292019303393154,
  0.06310647099688314,
  -0.03970647143847367,
  -0.07520242651594654,
  0.24217314163259104,
  -0.3177051381305487,
  0.25970151002374137,
  -0.18492307799500382,
  0.1462408682593049],
 'lower': [-0.245,
  -0.245,
  -0.245,
  -0.245,
  -0.245,
  -0.245,
  -0.245,
  -0.245,
  -0.245,
  -0.245,
  -0.245],
 'upper': [0.245,
  0.245,
  0.245,
  0.245,
  0.245,
  0.245,
  0.245,
  0.245,
  0.245,
  0.245,
  0.245],
 'zero': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'x': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

In [31]:
a.durbin_watson_test(df['Average_cost'], summary = True)

As value of statistic is close to 2, series is not autocorrelated.

1.5991785398869105

In [32]:
a.estimate_q()

(0, 1)

## Partial Autocorrelation

In [33]:
from tsa.properties import PartialAutocorrelation

In [34]:
p = PartialAutocorrelation()
p.partial_autocorrelation(df['Average_cost'], differencing = 2, n_lags = 10)

{'title': 'Partial autocorrelation plot: differencing = 2',
 'pacf_line': [1.0,
  -0.6552469975391533,
  -0.5297999964643015,
  -0.37398647594800016,
  -0.26333409385899426,
  -0.4444359056420599,
  -0.053952931964065906,
  -0.21370376332029964,
  0.003286475417334922,
  -0.19190795088324855,
  -0.019236922760738927],
 'lower': [-0.245,
  -0.245,
  -0.245,
  -0.245,
  -0.245,
  -0.245,
  -0.245,
  -0.245,
  -0.245,
  -0.245,
  -0.245],
 'upper': [0.245,
  0.245,
  0.245,
  0.245,
  0.245,
  0.245,
  0.245,
  0.245,
  0.245,
  0.245,
  0.245],
 'zero': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'x': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

In [35]:
p.estimate_p()

(0, 1)

## Cross Correlation

In [36]:
from tsa.properties import CrossCorrelation

In [37]:
c = CrossCorrelation(df['Average_cost'], df['Revenue'], df['Period'])

In [38]:
c.cross_correlation(20, summary = True)

Max positive correlation is 0.412045324316085 at lag = 1
Max negative correlation is -0.21981598447130393  at lag = 24

-0.07576724848778044

## Granger Causality

In [39]:
from tsa.properties import granger_causality_matrix

In [40]:
granger_causality_matrix(df, ['Average_cost', 'Revenue'], summary = True)

Revenue "granger causes" Average_cost with p-value of 0.0.

Average_cost "granger causes" Revenue with p-value of 0.0.

                Average_cost_x  Revenue_x
Average_cost_y             1.0        0.0
Revenue_y                  0.0        1.0

## Differencing

In [41]:
from tsa.properties import Differencing

In [42]:
d = Differencing(df, 'Revenue', 'Period')

In [43]:
d.adf_test()

p-value:  1.2441377995538413e-06
As p-value is lesser than 0.05, transformed series is stationary.

In [44]:
d.plot_diff()

{'data': [-202484.66969200037,
  6239558.573836001,
  -3232562.7293640003,
  -4793103.6826019995,
  2762448.910434,
  2377963.6727599986,
  -3956907.8981299996,
  5398955.678358,
  388934.8050360009,
  -5999505.122506,
  12798437.982218001,
  809778.856151998,
  -6234512.430415999,
  7371534.502416,
  -1387600.6292000003,
  -13086404.203935,
  9121054.342190998,
  5100858.992899001,
  -14216399.813454999,
  20870910.3055,
  -8225883.906999998,
  -6643094.309599999,
  20742110.53856,
  -6006779.213959999,
  -5610605.2916,
  17281355.347629998,
  -20664165.997706,
  -2065120.0303240009,
  6152500.8450000025,
  2747476.6855439954,
  -17394155.270543996,
  15195425.693999998,
  -77887.02959999815,
  -9125834.595600002,
  22519754.742799997,
  -898604.9115999937,
  -8047233.702700004,
  10975703.257200003,
  -11459502.727700002,
  -5836888.5088,
  3561466.2126,
  2565469.518600002,
  -12557879.696000002,
  12154834.638800003,
  4408075.847400002,
  -6832420.487800002,
  14222682.992200002,
  -10761868.110315003,
  86538.57152999938,
  17652208.056585,
  -21454717.114,
  -212332.06589999795,
  15178044.094899997,
  -1717560.060619995,
  -9058476.551980004,
  11592595.112400003,
  -4365843.952,
  -7785459.688000001,
  22381517.1664,
  -2468172.790800005,
  -16063057.605999999,
  9796921.968500003,
  2298527.7102999985],
 'x': ['2015-01-01',
  '2015-02-01',
  '2015-03-01',
  '2015-04-01',
  '2015-05-01',
  '2015-06-01',
  '2015-07-01',
  '2015-08-01',
  '2015-09-01',
  '2015-10-01',
  '2015-11-01',
  '2015-12-01',
  '2016-01-01',
  '2016-02-01',
  '2016-03-01',
  '2016-04-01',
  '2016-05-01',
  '2016-06-01',
  '2016-07-01',
  '2016-08-01',
  '2016-09-01',
  '2016-10-01',
  '2016-11-01',
  '2016-12-01',
  '2017-01-01',
  '2017-02-01',
  '2017-03-01',
  '2017-04-01',
  '2017-05-01',
  '2017-06-01',
  '2017-07-01',
  '2017-08-01',
  '2017-09-01',
  '2017-10-01',
  '2017-11-01',
  '2017-12-01',
  '2018-01-01',
  '2018-02-01',
  '2018-03-01',
  '2018-04-01',
  '2018-05-01',
  '2018-06-01',
  '2018-07-01',
  '2018-08-01',
  '2018-09-01',
  '2018-10-01',
  '2018-11-01',
  '2018-12-01',
  '2019-01-01',
  '2019-02-01',
  '2019-03-01',
  '2019-04-01',
  '2019-05-01',
  '2019-06-01',
  '2019-07-01',
  '2019-08-01',
  '2019-09-01',
  '2019-10-01',
  '2019-11-01',
  '2019-12-01',
  '2020-01-01',
  '2020-02-01',
  '2020-03-01',
  '2020-04-01']}

In [45]:
from tsa.visualization import *

In [46]:
waterfall_plot(df, 'Period', 'Revenue', title = 'Waterall Plot')

{'t': 'Waterall Plot',
 'x': ['2015-01-01',
  '2015-02-01',
  '2015-03-01',
  '2015-04-01',
  '2015-05-01',
  '2015-06-01',
  '2015-07-01',
  '2015-08-01',
  '2015-09-01',
  '2015-10-01',
  '2015-11-01',
  '2015-12-01',
  '2016-01-01',
  '2016-02-01',
  '2016-03-01',
  '2016-04-01',
  '2016-05-01',
  '2016-06-01',
  '2016-07-01',
  '2016-08-01',
  '2016-09-01',
  '2016-10-01',
  '2016-11-01',
  '2016-12-01',
  '2017-01-01',
  '2017-02-01',
  '2017-03-01',
  '2017-04-01',
  '2017-05-01',
  '2017-06-01',
  '2017-07-01',
  '2017-08-01',
  '2017-09-01',
  '2017-10-01',
  '2017-11-01',
  '2017-12-01',
  '2018-01-01',
  '2018-02-01',
  '2018-03-01',
  '2018-04-01',
  '2018-05-01',
  '2018-06-01',
  '2018-07-01',
  '2018-08-01',
  '2018-09-01',
  '2018-10-01',
  '2018-11-01',
  '2018-12-01',
  '2019-01-01',
  '2019-02-01',
  '2019-03-01',
  '2019-04-01',
  '2019-05-01',
  '2019-06-01',
  '2019-07-01',
  '2019-08-01',
  '2019-09-01',
  '2019-10-01',
  '2019-11-01',
  '2019-12-01',
  '2020-01-01',
  '2020-02-01',
  '2020-03-01',
  '2020-04-01'],
 'y': [0,
  15807587.45,
  15807587.449808,
  18814583.29,
  14021479.61,
  14021479.611678,
  16783928.522112,
  15204984.3,
  15204984.296742,
  20603939.9751,
  14993369.66,
  14993369.65763,
  27791807.639848,
  22367074.07,
  22367074.065584,
  28351007.94,
  15264603.73,
  15264603.734865,
  24385658.077056,
  15270117.26,
  15270117.2565,
  27915143.66,
  21272049.35,
  21272049.3454,
  36007380.67,
  30396775.38,
  30396775.3784,
  27013964.73,
  24948844.7,
  24948844.698,
  31101345.543,
  16454666.96,
  16454666.958,
  31572205.62,
  22446371.03,
  22446371.0268,
  44067520.86,
  36020287.16,
  36020287.1553,
  35536487.68,
  29699599.18,
  29699599.176,
  33261065.3886,
  23268655.21,
  23268655.2112,
  35423489.85,
  32999145.21,
  32999145.2096,
  36459960.09,
  36459960.091485,
  36546498.663015,
  32743989.61,
  32531657.54,
  32531657.5397,
  45992141.57,
  36933665.02,
  36933665.022,
  44160416.18,
  36374956.49,
  36374956.4944,
  56288300.87,
  40225243.26,
  40225243.264,
  50022165.2325],
 'i': [16010072.1195,
  '-',
  6239558.57,
  '-',
  '-',
  2762448.91,
  2377963.67,
  '-',
  5398955.68,
  388934.81,
  '-',
  12798437.98,
  809778.86,
  '-',
  7371534.5,
  '-',
  '-',
  9121054.34,
  5100858.99,
  '-',
  20870910.31,
  '-',
  '-',
  20742110.54,
  '-',
  '-',
  17281355.35,
  '-',
  '-',
  6152500.85,
  2747476.69,
  '-',
  15195425.69,
  '-',
  '-',
  22519754.74,
  '-',
  '-',
  10975703.26,
  '-',
  '-',
  3561466.21,
  2565469.52,
  '-',
  12154834.64,
  4408075.85,
  '-',
  14222682.99,
  '-',
  86538.57,
  17652208.06,
  '-',
  '-',
  15178044.09,
  '-',
  '-',
  11592595.11,
  '-',
  '-',
  22381517.17,
  '-',
  '-',
  9796921.97,
  2298527.71],
 'd': ['-',
  202484.67,
  '-',
  3232562.73,
  4793103.68,
  '-',
  '-',
  3956907.9,
  '-',
  '-',
  5999505.12,
  '-',
  '-',
  6234512.43,
  '-',
  1387600.63,
  13086404.2,
  '-',
  '-',
  14216399.81,
  '-',
  8225883.91,
  6643094.31,
  '-',
  6006779.21,
  5610605.29,
  '-',
  20664166.0,
  2065120.03,
  '-',
  '-',
  17394155.27,
  '-',
  77887.03,
  9125834.6,
  '-',
  898604.91,
  8047233.7,
  '-',
  11459502.73,
  5836888.51,
  '-',
  '-',
  12557879.7,
  '-',
  '-',
  6832420.49,
  '-',
  10761868.11,
  '-',
  '-',
  21454717.11,
  212332.07,
  '-',
  1717560.06,
  9058476.55,
  '-',
  4365843.95,
  7785459.69,
  '-',
  2468172.79,
  16063057.61,
  '-',
  '-']}

In [47]:
lag_plot(df['Average_cost'], 3)

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

[[1583.56654101094, 1916.08518522441],
 [1384.69702447205, 1275.37450775927],
 [2034.50954526008, 1554.41044374413],
 [1955.07420512918, 1985.40003850525],
 [1543.42046444088, 1535.88274839571],
 [2559.32818390964, 1654.38470434348],
 [1917.34882652797, 2559.32818390964],
 [1256.80855785502, 1621.60469862043],
 [1554.41044374413, 2092.43091047266],
 [1759.03399122946, 1513.11255359749],
 [1784.70755698176, 1836.67515714457],
 [1257.76354148008, 1235.60670481907],
 [1654.38470434348, 1711.05718082437],
 [1931.81031226235, 1669.57476395649],
 [2224.28431546538, 1612.87558139155],
 [1916.08518522441, 2315.00832309548],
 [1157.58890433615, 1861.4765047836],
 [1235.60670481907, 1110.57680508126],
 [1458.37660200435, 1620.32790003103],
 [1617.51143103643, 2224.28431546538],
 [2098.46884035133, 1659.9788062399],
 [2070.64085013243, 1965.83479026113],
 [1516.54635884922, 1422.04439430843],
 [1621.60469862043, 1614.83730064605],
 [1861.4765047836, 2038.3210826659],
 [1759.4288702548, 1383.02459714325],
 [2315.00832309548, 1705.32355249249],
 [1110.57680508126, 1157.58890433615],
 [1358.50699981162, 1626.62176469582],
 [1508.31740526655, 1891.10130334343],
 [1878.72042497324, 1471.61914992883],
 [1620.32790003103, 1441.93286463779],
 [1659.9788062399, 2070.64085013243],
 [1470.64853382439, 2098.46884035133],
 [1836.67515714457, 1583.56654101094],
 [1690.08965330258, 1917.34882652797],
 [2038.3210826659, 1878.72042497324],
 [1441.93286463779, 1516.54635884922],
 [1947.41180122846, 1759.03399122946],
 [2132.00193439517, 1508.31740526655],
 [1911.59955263242, 2086.88169846471],
 [1700.53022622854, 1784.70755698176],
 [1654.4148913772, 1570.02295014634],
 [1461.35228039063, 1955.07420512918],
 [1891.10130334343, 1617.51143103643],
 [1985.40003850525, 1931.81031226235],
 [1383.02459714325, 1700.53022622854],
 [1614.83730064605, 2034.50954526008],
 [1626.62176469582, 1759.4288702548],
 [1570.02295014634, 1458.37660200435],
 [1705.32355249249, 1461.35228039063],
 [2086.88169846471, 1543.42046444088],
 [1276.25990926041, 1256.80855785502],
 [1612.87558139155, 1947.41180122846],
 [1513.11255359749, 1470.64853382439],
 [1623.7366823332, 1911.59955263242],
 [1422.04439430843, 1623.7366823332],
 [1471.61914992883, 2132.00193439517],
 [1669.57476395649, 1690.08965330258],
 [1275.37450775927, 1276.25990926041],
 [2092.43091047266, 1654.4148913772]]

In [48]:
stacked_area_plot(df, ['Revenue', 'Average_cost'], 'Period', 'Revenue and Average Cost')

{'title': 'Revenue and Average Cost',
 'names': ['Revenue', 'Average_cost'],
 'vals': [[16010072.1195,
   15807587.449808,
   22047146.023644,
   18814583.29428,
   14021479.611678,
   16783928.522112,
   19161892.194872,
   15204984.296742,
   20603939.9751,
   20992874.780136,
   14993369.65763,
   27791807.639848,
   28601586.496,
   22367074.065584,
   29738608.568,
   28351007.9388,
   15264603.734865,
   24385658.077056,
   29486517.069955,
   15270117.2565,
   36141027.562,
   27915143.655,
   21272049.3454,
   42014159.88396,
   36007380.67,
   30396775.3784,
   47678130.72603,
   27013964.728324,
   24948844.698,
   31101345.543,
   33848822.228544,
   16454666.958,
   31650092.652,
   31572205.6224,
   22446371.0268,
   44966125.7696,
   44067520.858,
   36020287.1553,
   46995990.4125,
   35536487.6848,
   29699599.176,
   33261065.3886,
   35826534.9072,
   23268655.2112,
   35423489.85,
   39831565.6974,
   32999145.2096,
   47221828.2018,
   36459960.091485,
   36546498.663015,
   54198706.7196,
   32743989.6056,
   32531657.5397,
   47709701.6346,
   45992141.57398,
   36933665.022,
   48526260.1344,
   44160416.1824,
   36374956.4944,
   58756473.6608,
   56288300.87,
   40225243.264,
   50022165.2325,
   52320692.9428],
  [1257.76354148008,
   1358.50699981162,
   1384.69702447205,
   1235.60670481907,
   1626.62176469582,
   1275.37450775927,
   1110.57680508126,
   1759.4288702548,
   1276.25990926041,
   1157.58890433615,
   1383.02459714325,
   1256.80855785502,
   1861.4765047836,
   1700.53022622854,
   1621.60469862043,
   2038.3210826659,
   1784.70755698176,
   1614.83730064605,
   1878.72042497324,
   1836.67515714457,
   2034.50954526008,
   1471.61914992883,
   1583.56654101094,
   1554.41044374413,
   2132.00193439517,
   1916.08518522441,
   2092.43091047266,
   1508.31740526655,
   2315.00832309548,
   1654.4148913772,
   1891.10130334343,
   1705.32355249249,
   1570.02295014634,
   1617.51143103643,
   1461.35228039063,
   1458.37660200435,
   2224.28431546538,
   1955.07420512918,
   1620.32790003103,
   1612.87558139155,
   1985.40003850525,
   1441.93286463779,
   1947.41180122846,
   1931.81031226235,
   1516.54635884922,
   1759.03399122946,
   1669.57476395649,
   1422.04439430843,
   1513.11255359749,
   1690.08965330258,
   1623.7366823332,
   1470.64853382439,
   1917.34882652797,
   1911.59955263242,
   2098.46884035133,
   2559.32818390964,
   2086.88169846471,
   1659.9788062399,
   1654.38470434348,
   1543.42046444088,
   2070.64085013243,
   1711.05718082437,
   1535.88274839571,
   1965.83479026113]],
 'x': ['2015-01-01',
  '2015-02-01',
  '2015-03-01',
  '2015-04-01',
  '2015-05-01',
  '2015-06-01',
  '2015-07-01',
  '2015-08-01',
  '2015-09-01',
  '2015-10-01',
  '2015-11-01',
  '2015-12-01',
  '2016-01-01',
  '2016-02-01',
  '2016-03-01',
  '2016-04-01',
  '2016-05-01',
  '2016-06-01',
  '2016-07-01',
  '2016-08-01',
  '2016-09-01',
  '2016-10-01',
  '2016-11-01',
  '2016-12-01',
  '2017-01-01',
  '2017-02-01',
  '2017-03-01',
  '2017-04-01',
  '2017-05-01',
  '2017-06-01',
  '2017-07-01',
  '2017-08-01',
  '2017-09-01',
  '2017-10-01',
  '2017-11-01',
  '2017-12-01',
  '2018-01-01',
  '2018-02-01',
  '2018-03-01',
  '2018-04-01',
  '2018-05-01',
  '2018-06-01',
  '2018-07-01',
  '2018-08-01',
  '2018-09-01',
  '2018-10-01',
  '2018-11-01',
  '2018-12-01',
  '2019-01-01',
  '2019-02-01',
  '2019-03-01',
  '2019-04-01',
  '2019-05-01',
  '2019-06-01',
  '2019-07-01',
  '2019-08-01',
  '2019-09-01',
  '2019-10-01',
  '2019-11-01',
  '2019-12-01',
  '2020-01-01',
  '2020-02-01',
  '2020-03-01',
  '2020-04-01']}

In [49]:
stream_graph(df, ['Revenue', 'Average_cost'], 'Period')

{'data': [['2015-01-01', 16010072.1195, 'Revenue'],
  ['2015-02-01', 15807587.449808, 'Revenue'],
  ['2015-03-01', 22047146.023644, 'Revenue'],
  ['2015-04-01', 18814583.29428, 'Revenue'],
  ['2015-05-01', 14021479.611678, 'Revenue'],
  ['2015-06-01', 16783928.522112, 'Revenue'],
  ['2015-07-01', 19161892.194872, 'Revenue'],
  ['2015-08-01', 15204984.296742, 'Revenue'],
  ['2015-09-01', 20603939.9751, 'Revenue'],
  ['2015-10-01', 20992874.780136, 'Revenue'],
  ['2015-11-01', 14993369.65763, 'Revenue'],
  ['2015-12-01', 27791807.639848, 'Revenue'],
  ['2016-01-01', 28601586.496, 'Revenue'],
  ['2016-02-01', 22367074.065584, 'Revenue'],
  ['2016-03-01', 29738608.568, 'Revenue'],
  ['2016-04-01', 28351007.9388, 'Revenue'],
  ['2016-05-01', 15264603.734865, 'Revenue'],
  ['2016-06-01', 24385658.077056, 'Revenue'],
  ['2016-07-01', 29486517.069955, 'Revenue'],
  ['2016-08-01', 15270117.2565, 'Revenue'],
  ['2016-09-01', 36141027.562, 'Revenue'],
  ['2016-10-01', 27915143.655, 'Revenue'],
  ['2016-11-01', 21272049.3454, 'Revenue'],
  ['2016-12-01', 42014159.88396, 'Revenue'],
  ['2017-01-01', 36007380.67, 'Revenue'],
  ['2017-02-01', 30396775.3784, 'Revenue'],
  ['2017-03-01', 47678130.72603, 'Revenue'],
  ['2017-04-01', 27013964.728324, 'Revenue'],
  ['2017-05-01', 24948844.698, 'Revenue'],
  ['2017-06-01', 31101345.543, 'Revenue'],
  ['2017-07-01', 33848822.228544, 'Revenue'],
  ['2017-08-01', 16454666.958, 'Revenue'],
  ['2017-09-01', 31650092.652, 'Revenue'],
  ['2017-10-01', 31572205.6224, 'Revenue'],
  ['2017-11-01', 22446371.0268, 'Revenue'],
  ['2017-12-01', 44966125.7696, 'Revenue'],
  ['2018-01-01', 44067520.858, 'Revenue'],
  ['2018-02-01', 36020287.1553, 'Revenue'],
  ['2018-03-01', 46995990.4125, 'Revenue'],
  ['2018-04-01', 35536487.6848, 'Revenue'],
  ['2018-05-01', 29699599.176, 'Revenue'],
  ['2018-06-01', 33261065.3886, 'Revenue'],
  ['2018-07-01', 35826534.9072, 'Revenue'],
  ['2018-08-01', 23268655.2112, 'Revenue'],
  ['2018-09-01', 35423489.85, 'Revenue'],
  ['2018-10-01', 39831565.6974, 'Revenue'],
  ['2018-11-01', 32999145.2096, 'Revenue'],
  ['2018-12-01', 47221828.2018, 'Revenue'],
  ['2019-01-01', 36459960.091485, 'Revenue'],
  ['2019-02-01', 36546498.663015, 'Revenue'],
  ['2019-03-01', 54198706.7196, 'Revenue'],
  ['2019-04-01', 32743989.6056, 'Revenue'],
  ['2019-05-01', 32531657.5397, 'Revenue'],
  ['2019-06-01', 47709701.6346, 'Revenue'],
  ['2019-07-01', 45992141.57398, 'Revenue'],
  ['2019-08-01', 36933665.022, 'Revenue'],
  ['2019-09-01', 48526260.1344, 'Revenue'],
  ['2019-10-01', 44160416.1824, 'Revenue'],
  ['2019-11-01', 36374956.4944, 'Revenue'],
  ['2019-12-01', 58756473.6608, 'Revenue'],
  ['2020-01-01', 56288300.87, 'Revenue'],
  ['2020-02-01', 40225243.264, 'Revenue'],
  ['2020-03-01', 50022165.2325, 'Revenue'],
  ['2020-04-01', 52320692.9428, 'Revenue'],
  ['2015-01-01', 1257.76354148008, 'Average_cost'],
  ['2015-02-01', 1358.50699981162, 'Average_cost'],
  ['2015-03-01', 1384.69702447205, 'Average_cost'],
  ['2015-04-01', 1235.60670481907, 'Average_cost'],
  ['2015-05-01', 1626.62176469582, 'Average_cost'],
  ['2015-06-01', 1275.37450775927, 'Average_cost'],
  ['2015-07-01', 1110.57680508126, 'Average_cost'],
  ['2015-08-01', 1759.4288702548, 'Average_cost'],
  ['2015-09-01', 1276.25990926041, 'Average_cost'],
  ['2015-10-01', 1157.58890433615, 'Average_cost'],
  ['2015-11-01', 1383.02459714325, 'Average_cost'],
  ['2015-12-01', 1256.80855785502, 'Average_cost'],
  ['2016-01-01', 1861.4765047836, 'Average_cost'],
  ['2016-02-01', 1700.53022622854, 'Average_cost'],
  ['2016-03-01', 1621.60469862043, 'Average_cost'],
  ['2016-04-01', 2038.3210826659, 'Average_cost'],
  ['2016-05-01', 1784.70755698176, 'Average_cost'],
  ['2016-06-01', 1614.83730064605, 'Average_cost'],
  ['2016-07-01', 1878.72042497324, 'Average_cost'],
  ['2016-08-01', 1836.67515714457, 'Average_cost'],
  ['2016-09-01', 2034.50954526008, 'Average_cost'],
  ['2016-10-01', 1471.61914992883, 'Average_cost'],
  ['2016-11-01', 1583.56654101094, 'Average_cost'],
  ['2016-12-01', 1554.41044374413, 'Average_cost'],
  ['2017-01-01', 2132.00193439517, 'Average_cost'],
  ['2017-02-01', 1916.08518522441, 'Average_cost'],
  ['2017-03-01', 2092.43091047266, 'Average_cost'],
  ['2017-04-01', 1508.31740526655, 'Average_cost'],
  ['2017-05-01', 2315.00832309548, 'Average_cost'],
  ['2017-06-01', 1654.4148913772, 'Average_cost'],
  ['2017-07-01', 1891.10130334343, 'Average_cost'],
  ['2017-08-01', 1705.32355249249, 'Average_cost'],
  ['2017-09-01', 1570.02295014634, 'Average_cost'],
  ['2017-10-01', 1617.51143103643, 'Average_cost'],
  ['2017-11-01', 1461.35228039063, 'Average_cost'],
  ['2017-12-01', 1458.37660200435, 'Average_cost'],
  ['2018-01-01', 2224.28431546538, 'Average_cost'],
  ['2018-02-01', 1955.07420512918, 'Average_cost'],
  ['2018-03-01', 1620.32790003103, 'Average_cost'],
  ['2018-04-01', 1612.87558139155, 'Average_cost'],
  ['2018-05-01', 1985.40003850525, 'Average_cost'],
  ['2018-06-01', 1441.93286463779, 'Average_cost'],
  ['2018-07-01', 1947.41180122846, 'Average_cost'],
  ['2018-08-01', 1931.81031226235, 'Average_cost'],
  ['2018-09-01', 1516.54635884922, 'Average_cost'],
  ['2018-10-01', 1759.03399122946, 'Average_cost'],
  ['2018-11-01', 1669.57476395649, 'Average_cost'],
  ['2018-12-01', 1422.04439430843, 'Average_cost'],
  ['2019-01-01', 1513.11255359749, 'Average_cost'],
  ['2019-02-01', 1690.08965330258, 'Average_cost'],
  ['2019-03-01', 1623.7366823332, 'Average_cost'],
  ['2019-04-01', 1470.64853382439, 'Average_cost'],
  ['2019-05-01', 1917.34882652797, 'Average_cost'],
  ['2019-06-01', 1911.59955263242, 'Average_cost'],
  ['2019-07-01', 2098.46884035133, 'Average_cost'],
  ['2019-08-01', 2559.32818390964, 'Average_cost'],
  ['2019-09-01', 2086.88169846471, 'Average_cost'],
  ['2019-10-01', 1659.9788062399, 'Average_cost'],
  ['2019-11-01', 1654.38470434348, 'Average_cost'],
  ['2019-12-01', 1543.42046444088, 'Average_cost'],
  ['2020-01-01', 2070.64085013243, 'Average_cost'],
  ['2020-02-01', 1711.05718082437, 'Average_cost'],
  ['2020-03-01', 1535.88274839571, 'Average_cost'],
  ['2020-04-01', 1965.83479026113, 'Average_cost']],
 'names': ['Revenue', 'Average_cost']}