In [1]:
import pandas as pd
from datetime import datetime, timedelta
import numpy as np
from itertools import dropwhile
import sys
sys.path.insert(0, '/home/shail/bits/PS1/time_series_analysis')

In [2]:

df = pd.DataFrame([[10  ,      "Mumbai"   ,  '2015-12'  ]   ,               
   [1 ,       "Bangalore" , '2016-01'],
   [12    ,    "Pune"    ,   '2016-02'],
   [4    ,    "Mumbai"  ,    np.nan],
   [15   ,     "Delhi" ,     '2016-04'],
   [6   ,     "Mumbai"   ,    np.nan],
   [14    ,    "Bangalore" ,   np.nan],
  [ 5   ,     "Pune"    ,   '2016-07'],
   [8   ,     "Mumbai"  ,   '2016-12']], columns = ['value', 'city', 'date'])

In [3]:
df

   value       city     date
0     10     Mumbai  2015-12
1      1  Bangalore  2016-01
2     12       Pune  2016-02
3      4     Mumbai      NaN
4     15      Delhi  2016-04
5      6     Mumbai      NaN
6     14  Bangalore      NaN
7      5       Pune  2016-07
8      8     Mumbai  2016-12

In [4]:
from tsa.interpolation import impute_time_axis as impute

In [5]:
def get_freq(x):
    return 'M' if x.days == 28 else x

In [6]:
df['date'] = impute(df['date'], freq = timedelta(weeks = 4))

0

In [7]:
df

   value       city       date
0     10     Mumbai 2015-12-01
1      1  Bangalore 2016-01-01
2     12       Pune 2016-02-01
3      4     Mumbai 2016-03-14
4     15      Delhi 2016-04-01
5      6     Mumbai 2016-05-09
6     14  Bangalore 2016-06-06
7      5       Pune 2016-07-01
8      8     Mumbai 2016-12-01