# Dataset: [Power Usage 2016 to 2020](https://www.kaggle.com/datasets/srinuti/residential-power-usage-3years-data-timeseries)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../datasets/4/power_usage_2016_to_2020.csv')

In [3]:
df

                 StartDate  Value (kWh)  day_of_week    notes
0      2016-01-06 00:00:00        1.057            2  weekday
1      2016-01-06 01:00:00        1.171            2  weekday
2      2016-01-06 02:00:00        0.560            2  weekday
3      2016-01-06 03:00:00        0.828            2  weekday
4      2016-01-06 04:00:00        0.932            2  weekday
...                    ...          ...          ...      ...
35947  2020-07-07 19:00:00        1.307            1  weekday
35948  2020-07-07 20:00:00        2.872            1  weekday
35949  2020-07-07 21:00:00        2.138            1  weekday
35950  2020-07-07 22:00:00        2.199            1  weekday
35951  2020-07-07 23:00:00        1.809            1  weekday

[35952 rows x 4 columns]

In [4]:
df.isna().sum()

StartDate      0
Value (kWh)    0
day_of_week    0
notes          0
dtype: int64

In [5]:
y = 'Value (kWh)'

In [6]:
import sys
sys.path.insert(0, '/home/shail/bits/PS1/time_series_analysis')

original_stdout = sys.stdout 
	
def outfile(x):
    with open('output.txt', 'w') as f:
        sys.stdout = f
        print(x)
        sys.stdout = original_stdout

In [7]:
from tsa.dateconverter import DateConverter

### Filtering

In [8]:
df['Year'] = df['StartDate'].apply(lambda x: x[:4])
df['Month'] = df['StartDate'].apply(lambda x: x[5:7])
df = pd.DataFrame(df[df['Year'] == '2016'])
df = pd.DataFrame(df[df['Month'] == '01'])
df.drop(['Year', 'Month'], axis = 1, inplace = True)
df

                StartDate  Value (kWh)  day_of_week    notes
0     2016-01-06 00:00:00        1.057            2  weekday
1     2016-01-06 01:00:00        1.171            2  weekday
2     2016-01-06 02:00:00        0.560            2  weekday
3     2016-01-06 03:00:00        0.828            2  weekday
4     2016-01-06 04:00:00        0.932            2  weekday
...                   ...          ...          ...      ...
4411  2016-01-12 19:00:00        1.096            1  weekday
4412  2016-01-12 20:00:00        0.932            1  weekday
4413  2016-01-12 21:00:00        0.932            1  weekday
4414  2016-01-12 22:00:00        0.576            1  weekday
4415  2016-01-12 23:00:00        0.322            1  weekday

[168 rows x 4 columns]

# Date Conversion

In [9]:
converter = DateConverter()
df['StartDate'] = df['StartDate'].apply(lambda x: converter.convert_date(x, True, infer_format=True))
df

               StartDate  Value (kWh)  day_of_week    notes
0    2016-01-06 00:00:00        1.057            2  weekday
1    2016-01-06 01:00:00        1.171            2  weekday
2    2016-01-06 02:00:00        0.560            2  weekday
3    2016-01-06 03:00:00        0.828            2  weekday
4    2016-01-06 04:00:00        0.932            2  weekday
...                  ...          ...          ...      ...
4411 2016-01-12 19:00:00        1.096            1  weekday
4412 2016-01-12 20:00:00        0.932            1  weekday
4413 2016-01-12 21:00:00        0.932            1  weekday
4414 2016-01-12 22:00:00        0.576            1  weekday
4415 2016-01-12 23:00:00        0.322            1  weekday

[168 rows x 4 columns]

## Interpolation

In [10]:
from tsa.interpolation import interpolate_dates as interpolate

In [11]:
df = interpolate(df, 'StartDate', [y], interval='H')
df

     Value (kWh)           StartDate
0          1.057 2016-01-06 00:00:00
1          1.171 2016-01-06 01:00:00
2          0.560 2016-01-06 02:00:00
3          0.828 2016-01-06 03:00:00
4          0.932 2016-01-06 04:00:00
..           ...                 ...
163        1.096 2016-01-12 19:00:00
164        0.932 2016-01-12 20:00:00
165        0.932 2016-01-12 21:00:00
166        0.576 2016-01-12 22:00:00
167        0.322 2016-01-12 23:00:00

[168 rows x 2 columns]

# Visualizations

In [12]:
from tsa.visualization import *

In [13]:
small_df = pd.DataFrame(df[:15])
small_df

    Value (kWh)           StartDate
0         1.057 2016-01-06 00:00:00
1         1.171 2016-01-06 01:00:00
2         0.560 2016-01-06 02:00:00
3         0.828 2016-01-06 03:00:00
4         0.932 2016-01-06 04:00:00
5         0.333 2016-01-06 05:00:00
6         0.462 2016-01-06 06:00:00
7         0.493 2016-01-06 07:00:00
8         0.325 2016-01-06 08:00:00
9         0.294 2016-01-06 09:00:00
10        0.273 2016-01-06 10:00:00
11        0.723 2016-01-06 11:00:00
12        0.426 2016-01-06 12:00:00
13        0.421 2016-01-06 13:00:00
14        0.447 2016-01-06 14:00:00

## Waterfall Plot

In [14]:
plot_params = waterfall_plot(small_df, 'StartDate', y, 'Waterfall plot', remove_time=False)

In [15]:
outfile(plot_params['x'])

## Lag Plot

In [16]:
data = lag_plot(df[y], 24, 'Lag plot of stock')

/home/shail/bits/PS1/time_series_analysis/env/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [17]:
outfile(data['data'])

## Stacked Area Chart

# Properties

In [19]:
from tsa.properties import *

In [20]:
trend = Trend(df, y, 'StartDate')

In [21]:
params = trend.plot(remove_time = False)

In [22]:
params.keys()

dict_keys(['title', 'data', 'x'])

In [23]:
outfile(params['data'])

In [24]:
trend.detrend()

                     Original   Detrend
StartDate
2016-01-06 00:00:00     1.057  1.057000
2016-01-06 01:00:00     1.171  1.158907
2016-01-06 02:00:00     0.560  0.535814
2016-01-06 03:00:00     0.828  0.791722
2016-01-06 04:00:00     0.932  0.883629
...                       ...       ...
2016-01-12 19:00:00     1.096 -0.875126
2016-01-12 20:00:00     0.932 -1.051219
2016-01-12 21:00:00     0.932 -1.063312
2016-01-12 22:00:00     0.576 -1.431404
2016-01-12 23:00:00     0.322 -1.697497

[168 rows x 2 columns]

In [25]:
p = trend.plot_detrend(remove_time = False)

In [26]:
p.keys()

dict_keys(['title', 'data', 'data_detrend', 'x'])

In [27]:
outfile(p['data_detrend'])

## Seasonality

In [28]:
seasonality = Seasonality(df, y, 'StartDate')

In [29]:
seasonality.seasonal()

StartDate
2016-01-06 00:00:00    0.717003
2016-01-06 01:00:00    0.530417
2016-01-06 02:00:00    0.558204
2016-01-06 03:00:00    0.552072
2016-01-06 04:00:00    0.513011
                         ...
2016-01-12 19:00:00    1.556824
2016-01-12 20:00:00    2.131084
2016-01-12 21:00:00    2.004327
2016-01-12 22:00:00    1.756406
2016-01-12 23:00:00    1.140730
Name: seasonal, Length: 168, dtype: float64

In [30]:
seasonality.deseasonalize()

                     Original  Deseasonalized
StartDate
2016-01-06 00:00:00     1.057        1.474192
2016-01-06 01:00:00     1.171        2.207696
2016-01-06 02:00:00     0.560        1.003218
2016-01-06 03:00:00     0.828        1.499804
2016-01-06 04:00:00     0.932        1.816727
...                       ...             ...
2016-01-12 19:00:00     1.096        0.703997
2016-01-12 20:00:00     0.932        0.437336
2016-01-12 21:00:00     0.932        0.464994
2016-01-12 22:00:00     0.576        0.327942
2016-01-12 23:00:00     0.322        0.282275

[168 rows x 2 columns]

In [31]:
p = seasonality.plot_deseasonalize()

In [32]:
p.keys()

dict_keys(['title', 'data', 'data_des', 'x'])

In [33]:
outfile(p['data_des'])

## Stationarity: now integrated with ARIMA

## Autocorrelation

In [34]:
a = Autocorrelation()

In [35]:
a.autocorrelation(df[y])

{'title': 'Autocorrelation plot of Value (kWh), order = 0',
 'y': [1.0,
  0.8346824554728471,
  0.6294936484244446,
  0.4281098677144612,
  0.2547689818280644,
  0.08403341762451357,
  -0.045258422943220585,
  -0.12995365820051805,
  -0.1799248092879687,
  -0.2219901535597121,
  -0.24484397382976464,
  -0.25637703411780466,
  -0.2589037558951131,
  -0.21282398407182432,
  -0.14450168158512497,
  -0.06979190905622984,
  0.008061159357436934,
  0.0881400058665667,
  0.16714816367041904,
  0.23961739426509382,
  0.2906122941367508,
  0.30317103829115394,
  0.30601184289396627],
 'x': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22],
 'upper': [0.0,
  0.15121450430979,
  0.2339376646928112,
  0.2699047214926736,
  0.2850090651275229,
  0.2901697473683353,
  0.2907256810546137,
  0.2908867389639032,
  0.2922112402321775,
  0.2947335692236536,
  0.2985322690586434,
  0.30308919960564856,
  0.30800806338555226,
  0.31294474368137015,
  0.3162369116279628,
  0.3177431271333408,
  0.3180934605279197,
  0.3180981316797521,
  0.3186560764643438,
  0.32065459491283016,
  0.3247231443432095,
  0.3306167120886169,
  0.3369135334111691],
 'lower': [0.0,
  -0.15121450430979,
  -0.23393766469281124,
  -0.26990472149267364,
  -0.28500906512752294,
  -0.2901697473683353,
  -0.2907256810546137,
  -0.29088673896390316,
  -0.2922112402321775,
  -0.2947335692236537,
  -0.2985322690586434,
  -0.3030891996056486,
  -0.30800806338555226,
  -0.31294474368137015,
  -0.31623691162796275,
  -0.3177431271333408,
  -0.3180934605279197,
  -0.3180981316797521,
  -0.31865607646434385,
  -0.32065459491283016,
  -0.3247231443432094,
  -0.3306167120886169,
  -0.3369135334111691]}

In [36]:
a.durbin_watson_test(df[y], summary = True)

As value of statistic is close to 0, series is positively autocorrelated.

0.33343684579071

## Partial Autocorrelation

In [37]:
p = PartialAutocorrelation()
p.partial_autocorrelation(df[y])

{'title': 'Partial Autocorrelation plot of Value (kWh), order = 0',
 'y': [1.0,
  0.8396805540086129,
  -0.23050896730859446,
  -0.10313942965154982,
  -0.04875087866179857,
  -0.15809881061997855,
  -0.007464400242731997,
  -0.00982431450926144,
  -0.03454027076012684,
  -0.08962349914315519,
  -0.035640764750320415,
  -0.0613985106288021,
  -0.05521988793967591,
  0.13289993899500963,
  0.020848653849368237,
  0.015519567252038471,
  0.05729927397475713,
  0.043309959525829216,
  0.08303093754390535,
  0.10249766581519422,
  0.05279641229012522,
  -0.03399630112333654,
  0.09921750761118438],
 'x': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22],
 'upper': [0.0,
  0.15121450430979,
  0.15121450430979003,
  0.15121450430979003,
  0.15121450430979003,
  0.15121450430979003,
  0.15121450430979,
  0.15121450430979003,
  0.15121450430979003,
  0.15121450430979003,
  0.15121450430979003,
  0.15121450430979003,
  0.15121450430979003,
  0.15121450430979,
  0.15121450430979003,
  0.15121450430979005,
  0.15121450430979003,
  0.15121450430979003,
  0.15121450430979005,
  0.15121450430979005,
  0.15121450430979003,
  0.15121450430979003,
  0.15121450430979005],
 'lower': [0.0,
  -0.15121450430979,
  -0.15121450430979003,
  -0.15121450430979005,
  -0.15121450430979005,
  -0.15121450430979,
  -0.15121450430979005,
  -0.15121450430979003,
  -0.15121450430979003,
  -0.15121450430979,
  -0.15121450430979003,
  -0.15121450430979005,
  -0.15121450430979003,
  -0.15121450430979003,
  -0.15121450430979003,
  -0.15121450430979,
  -0.15121450430979003,
  -0.15121450430979003,
  -0.15121450430979003,
  -0.15121450430979003,
  -0.15121450430979003,
  -0.15121450430979003,
  -0.15121450430979003]}

## Differencing: now integrated with ARIMA

# Models

## ARIMA

In [38]:
from tsa.models import Arima

In [39]:
train_df = df[:int(0.8 * len(df))]
test_df = df[int(0.8 * len(df)):]

df = train_df

In [40]:
model = Arima()
model(df, 'StartDate', y)

In [41]:
model.test_stationarity(0)

1. ADF :  -4.7828923672558314
2. P-Value :  5.863582967286941e-05
3. Num Of Lags :  4
4. Num Of Observations Used For ADF Regression and Critical Values Calculation : 129
5. Critical Values :
	 1% :  -3.482087964046026
	 5% :  -2.8842185101614626
	 10% :  -2.578864381347275


As p-value is inside the confidence interval of 95%, series is stationary.

In [42]:
params = model.acf_plot(0)

In [43]:
params.keys()

dict_keys(['title', 'y', 'x', 'upper', 'lower'])

In [48]:
outfile(params['title'])

In [49]:
params = model.pacf_plot(0)

In [54]:
outfile(params['lower'])

In [80]:
model.fit((1,0,0))

                               SARIMAX Results
==============================================================================
Dep. Variable:            Value (kWh)   No. Observations:                  134
Model:                 ARIMA(1, 0, 0)   Log Likelihood                -162.218
Date:                Tue, 04 Jul 2023   AIC                            330.436
Time:                        16:45:45   BIC                            339.129
Sample:                    01-06-2016   HQIC                           333.969
                         - 01-11-2016
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.5814      0.616      2.568      0.010       0.375       2.788
ar.L1          0.8302      0.061     13.649      0.000       0.711       0.949
sigma2         0.6535      0.061     10.738      0.000       0.534       0.773
===================================================================================
Ljung-Box (L1) (Q):                   6.75   Jarque-Bera (JB):               166.40
Prob(Q):                              0.01   Prob(JB):                         0.00
Heteroskedasticity (H):               1.29   Skew:                             1.38
Prob(H) (two-sided):                  0.40   Kurtosis:                         7.71
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

/home/shail/bits/PS1/time_series_analysis/env/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency H will be used.
  self._init_dates(dates, freq)
/home/shail/bits/PS1/time_series_analysis/env/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency H will be used.
  self._init_dates(dates, freq)
/home/shail/bits/PS1/time_series_analysis/env/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency H will be used.
  self._init_dates(dates, freq)

In [81]:
model.error_metrics(test_df, y)

  Metric     Value
0   MAPE  1.787036
1    MAE  0.839779
2    MSE  0.903268

In [82]:
params = model.plot_forecast(test_df, y, exclude_time=False)

In [83]:
outfile(params['y_forecast'])