In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../datasets/5/POP.csv')

In [3]:
df

    realtime_start       value        date realtime_end
0       2019-12-06  156309.000  1952-01-01   2019-12-06
1       2019-12-06  156527.000  1952-02-01   2019-12-06
2       2019-12-06  156731.000  1952-03-01   2019-12-06
3       2019-12-06  156943.000  1952-04-01   2019-12-06
4       2019-12-06  157140.000  1952-05-01   2019-12-06
..             ...         ...         ...          ...
811     2019-12-06  329591.333  2019-08-01   2019-12-06
812     2019-12-06  329785.872  2019-09-01   2019-12-06
813     2019-12-06  329982.035  2019-10-01   2019-12-06
814     2019-12-06  330154.949  2019-11-01   2019-12-06
815     2019-12-06  330309.946  2019-12-01   2019-12-06

[816 rows x 4 columns]

In [4]:
df.isna().sum()

realtime_start    0
value             0
date              0
realtime_end      0
dtype: int64

In [5]:
import sys
sys.path.insert(0, '/home/shail/bits/PS1/time_series_analysis')

original_stdout = sys.stdout 
	
def outfile(x):
    with open('output.txt', 'w') as f:
        sys.stdout = f
        print(x)
        sys.stdout = original_stdout

In [6]:
from tsa.dateconverter import DateConverter

### Filtering

In [7]:
df.drop(['realtime_start', 'realtime_end'], axis = 1, inplace = True)
df

          value        date
0    156309.000  1952-01-01
1    156527.000  1952-02-01
2    156731.000  1952-03-01
3    156943.000  1952-04-01
4    157140.000  1952-05-01
..          ...         ...
811  329591.333  2019-08-01
812  329785.872  2019-09-01
813  329982.035  2019-10-01
814  330154.949  2019-11-01
815  330309.946  2019-12-01

[816 rows x 2 columns]

# Date Conversion

In [8]:
converter = DateConverter()
converter.directive_df()

   Code    Example                                        Description
0    %a        Sun              Weekday as locale's abbreviated name.
1    %A     Sunday                     Weekday as locale's full name.
2    %w          0  Weekday as a decimal number, where 0 is Sunday...
3    %d         08  Day of the month as a zero-padded decimal number.
4   %-d          8  Day of the month as a decimal number. (Platfor...
5    %b        Sep                Month as locale's abbreviated name.
6    %B  September                       Month as locale's full name.
7    %m         09             Month as a zero-padded decimal number.
8   %-m          9      Month as a decimal number. (Platform speciﬁc)
9    %y         13  Year without century as a zero-padded decimal ...
10   %Y       2013             Year with century as a decimal number.
11   %H         07  Hour (24-hour clock) as a zero-padded decimal ...
12  %-H          7  Hour (24-hour clock) as a decimal number. (Pla...
13   %I         07  Hour (12-hour clock) as a zero-padded decimal ...
14  %-I          7  Hour (12-hour clock) as a decimal number. (Pla...
15   %p         AM            Locale's equivalent of either AM or PM.
16   %M         06            Minute as a zero-padded decimal number.
17  %-M          6     Minute as a decimal number. (Platform speciﬁc)
18   %S         05            Second as a zero-padded decimal number.
19  %-S          5     Second as a decimal number. (Platform speciﬁc)
20   %f     000000  Microsecond as a decimal number, zero-padded t...
21   %z      +0000  UTC oﬀset in the form ±HHMM[SS[.ﬀﬀﬀ]] (empty s...
22   %Z        UTC  Time zone name (empty string if the object is ...

In [9]:
df['date'] = df['date'].apply(lambda x: converter.convert_date(x, infer_format=True))
df

          value       date
0    156309.000 1952-01-01
1    156527.000 1952-02-01
2    156731.000 1952-03-01
3    156943.000 1952-04-01
4    157140.000 1952-05-01
..          ...        ...
811  329591.333 2019-08-01
812  329785.872 2019-09-01
813  329982.035 2019-10-01
814  330154.949 2019-11-01
815  330309.946 2019-12-01

[816 rows x 2 columns]

## Interpolation

# Visualizations

In [10]:
from tsa.visualization import *

In [11]:
small_df = pd.DataFrame(df[:15])
small_df

       value       date
0   156309.0 1952-01-01
1   156527.0 1952-02-01
2   156731.0 1952-03-01
3   156943.0 1952-04-01
4   157140.0 1952-05-01
5   157343.0 1952-06-01
6   157553.0 1952-07-01
7   157798.0 1952-08-01
8   158053.0 1952-09-01
9   158306.0 1952-10-01
10  158451.0 1952-11-01
11  158757.0 1952-12-01
12  158973.0 1953-01-01
13  159170.0 1953-02-01
14  159349.0 1953-03-01

## Line Plot

In [20]:
params = single_line_plot(df, 'date', 'value', remove_time=True)

In [21]:
params.keys()

dict_keys(['title', 'y', 'x'])

In [24]:
outfile(params['title'])

## Waterfall Plot

In [13]:
plot_params = waterfall_plot(small_df, 'date', 'value', 'Waterfall plot of value', remove_time=True)

In [16]:
outfile(plot_params['d'])

## Lag Plot

In [18]:
data = lag_plot(df['value'], 12, 'Lag plot of wind speed', 3)

/home/shail/bits/PS1/time_series_analysis/env/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [19]:
outfile(data['data'])

## Stacked Area Chart

In [25]:
x = stacked_area_plot(df, ['Power', 'WindSpeed'], 'Time', 'stacked_area_plot', remove_time=False)

In [26]:
x.keys()

dict_keys(['title', 'names', 'vals', 'x'])

In [31]:
outfile(x['x'])

# Properties

In [25]:
from tsa.properties import *

In [26]:
trend = Trend(df, 'value', 'date')

In [27]:
params = trend.plot(remove_time = True)

In [28]:
params.keys()

dict_keys(['title', 'data', 'x'])

In [31]:
outfile(params['data'])

In [32]:
trend.detrend()

              Original        Detrend
date
1952-01-01  156309.000  156309.000000
1952-02-01  156527.000  156024.859523
1952-03-01  156731.000  155726.719045
1952-04-01  156943.000  155436.578568
1952-05-01  157140.000  155131.438091
...                ...            ...
2019-08-01  329591.333  -77644.594123
2019-09-01  329785.872  -77952.195600
2019-10-01  329982.035  -78258.173078
2019-11-01  330154.949  -78587.399555
2019-12-01  330309.946  -78934.543032

[816 rows x 2 columns]

In [33]:
p = trend.plot_detrend(remove_time = True)

In [34]:
p.keys()

dict_keys(['title', 'data', 'data_detrend', 'x'])

In [38]:
outfile(p['data_detrend'])

## Seasonality

In [39]:
seasonality = Seasonality(df, 'value', 'date')

In [40]:
seasonality.seasonal()

date
1952-01-01    1.000167
1952-02-01    1.000032
1952-03-01    0.999882
1952-04-01    0.999828
1952-05-01    0.999763
                ...
2019-08-01    0.999931
2019-09-01    1.000085
2019-10-01    1.000227
2019-11-01    1.000264
2019-12-01    1.000229
Name: seasonal, Length: 816, dtype: float64

In [41]:
seasonality.deseasonalize()

              Original  Deseasonalized
date
1952-01-01  156309.000   156282.839498
1952-02-01  156527.000   156521.969733
1952-03-01  156731.000   156749.481040
1952-04-01  156943.000   156969.991854
1952-05-01  157140.000   157177.277607
...                ...             ...
2019-08-01  329591.333   329613.975956
2019-09-01  329785.872   329757.803720
2019-10-01  329982.035   329907.223121
2019-11-01  330154.949   330067.767973
2019-12-01  330309.946   330234.194481

[816 rows x 2 columns]

In [42]:
p=seasonality.plot_deseasonalize()

In [45]:
outfile(p['x'])

In [47]:
p = seasonality.plot(remove_time=True)

In [51]:
outfile(p['title'])

## Stationarity: now integrated with ARIMA

## Autocorrelation

In [52]:
a = Autocorrelation()

In [53]:
a.autocorrelation(df['value'])

{'title': 'Autocorrelation plot of value, order = 0',
 'y': [1.0,
  0.9963516235686795,
  0.9927003677978458,
  0.9890464838234957,
  0.985391400123351,
  0.9817345376014907,
  0.9780763165659397,
  0.9744164404495198,
  0.9707557874827277,
  0.967094332495981,
  0.9634315179283579,
  0.9597620791730718,
  0.9560931974225196,
  0.9524213104393732,
  0.9487459379337336,
  0.9450671612587431,
  0.9413872520422375,
  0.9377055029503084,
  0.9340230077715991,
  0.9303400514628781,
  0.9266575990010792,
  0.9229753772743902,
  0.9192925359745502,
  0.9156077350691556,
  0.9119207422224654,
  0.9082320854495345,
  0.9045414511115754,
  0.9008492627053697,
  0.8971572045676476,
  0.8934648246025423],
 'x': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29],
 'upper': [0.0,
  0.06861246332409043,
  0.11855139933212333,
  0.15275084019935348,
  0.18039685948757045,
  0.20416974952722866,
  0.22529939412953393,
  0.24447258502216174,
  0.2621194226931498,
  0.27853060119529893,
  0.2939135837414484,
  0.3084226260390116,
  0.3221760285225864,
  0.33526719134495087,
  0.34777119567597425,
  0.35974953762567563,
  0.3712533625738468,
  0.38232581329274173,
  0.3930036350935463,
  0.40331847269301524,
  0.41329780358240886,
  0.42296568832827564,
  0.4323433206945416,
  0.4414494754553462,
  0.4503008687697606,
  0.45891247977402916,
  0.467297808616303,
  0.47546906153837587,
  0.48343733187050486,
  0.4912127613780748],
 'lower': [0.0,
  -0.06861246332409043,
  -0.11855139933212333,
  -0.15275084019935348,
  -0.18039685948757045,
  -0.20416974952722855,
  -0.22529939412953393,
  -0.24447258502216174,
  -0.2621194226931498,
  -0.27853060119529893,
  -0.2939135837414485,
  -0.3084226260390116,
  -0.3221760285225863,
  -0.33526719134495075,
  -0.34777119567597425,
  -0.35974953762567563,
  -0.3712533625738468,
  -0.38232581329274173,
  -0.3930036350935463,
  -0.40331847269301524,
  -0.41329780358240886,
  -0.42296568832827564,
  -0.4323433206945416,
  -0.4414494754553462,
  -0.4503008687697606,
  -0.45891247977402927,
  -0.4672978086163029,
  -0.475469061538376,
  -0.4834373318705048,
  -0.49121276137807485]}

In [54]:
a.durbin_watson_test(df['value'], summary = True)

As value of statistic is close to 0, series is positively autocorrelated.

0.000307410328878566

## Partial Autocorrelation

In [55]:
p = PartialAutocorrelation()
p.partial_autocorrelation(df['value'])

{'title': 'Partial Autocorrelation plot of value, order = 0',
 'y': [1.0,
  0.9975741408982114,
  -0.003040044294175931,
  -0.0029973763230615735,
  -0.0027104170159997615,
  -0.002839251098429386,
  -0.002760792014694597,
  -0.00283120459360049,
  -0.002657126009004369,
  -0.0026708562211480917,
  -0.002795934621242009,
  -0.0039060951364889396,
  -0.002413829345943225,
  -0.003168985019154937,
  -0.0032804917182420942,
  -0.0032733031082143346,
  -0.002806027203531875,
  -0.002964317604665035,
  -0.0027437894224395434,
  -0.002692385947683646,
  -0.0024971067874689154,
  -0.0025622313627426266,
  -0.0027532902477080687,
  -0.003044914448364532,
  -0.003104435667791177,
  -0.0030022443451361886,
  -0.0030800445242393118,
  -0.0029990527717741544,
  -0.0026499087815965734,
  -0.0027559661562908027],
 'x': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29],
 'upper': [0.0,
  0.06861246332409043,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049,
  0.06861246332409049],
 'lower': [0.0,
  -0.06861246332409043,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049,
  -0.06861246332409049]}

## Differencing: now integrated with ARIMA

# Models

## ARIMA

In [58]:
from tsa.models import Arima

# df = pd.DataFrame(df[:300])

In [59]:
train_df = df[:int(0.8 * len(df))]
test_df = df[int(0.8 * len(df)):]

df = train_df

In [60]:
model = Arima()
model(df, 'date', 'value')

In [63]:
model.test_stationarity(2)

1. ADF :  -5.164106224694433
2. P-Value :  1.040339516513591e-05
3. Num Of Lags :  14
4. Num Of Observations Used For ADF Regression and Critical Values Calculation : 504
5. Critical Values :
	 1% :  -3.443391504492468
	 5% :  -2.8672917032172953
	 10% :  -2.5698334393109095


As p-value is inside the confidence interval of 95%, series is stationary.

In [64]:
params = model.acf_plot(2)

In [65]:
params.keys()

dict_keys(['title', 'y', 'x', 'upper', 'lower'])

In [70]:
outfile(params['title'])

In [71]:
params = model.pacf_plot(2)

In [77]:
outfile(params['title'])

In [88]:
model.fit()

                               SARIMAX Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  521
Model:               SARIMAX(4, 2, 1)   Log Likelihood               -2271.206
Date:                Mon, 10 Jul 2023   AIC                           4556.412
Time:                        11:54:35   BIC                           4586.175
Sample:                    01-01-1952   HQIC                          4568.072
                         - 05-01-1995
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept      0.0323      0.140      0.231      0.817      -0.242       0.306
ar.L1          0.5731      0.045     12.660      0.000       0.484       0.662
ar.L2          0.2364      0.036      6.656      0.000       0.167       0.306
ar.L3         -0.1457      0.036     -4.080      0.000      -0.216      -0.076
ar.L4         -0.2788      0.037     -7.460      0.000      -0.352      -0.206
ma.L1         -0.8546      0.032    -26.550      0.000      -0.918      -0.792
sigma2       366.4333     13.116     27.939      0.000     340.727     392.140
===================================================================================
Ljung-Box (L1) (Q):                   2.84   Jarque-Bera (JB):              2027.29
Prob(Q):                              0.09   Prob(JB):                         0.00
Heteroskedasticity (H):               0.73   Skew:                             1.07
Prob(H) (two-sided):                  0.04   Kurtosis:                        12.44
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

In [89]:
model.error_metrics(test_df, 'value')

  Metric          Value
0   MAPE       0.001780
1    MAE     516.128136
2    MSE  527968.773398

In [90]:
params = model.plot_forecast(test_df, 'value', exclude_time=True)

In [91]:
outfile(params['y_forecast'])