# Date Converter

In [1]:
from dateconverter import DateConverter

In [2]:
converter = DateConverter()

In [3]:
converter.convert_date('2003-07-23')

'2003-07-23'

In [4]:
converter.convert_date('12-02-2003')

'2003-12-02'

In [5]:
converter.convert_date('1975/08/03')

'1975-08-03'

In [6]:
converter.convert_date('22/07/1968')

'1968-07-22'

## Adding formats

In [7]:
converter.add_format('%d-%b')

In [8]:
converter.convert_date('01-Sep')

'1900-09-01'

In [9]:
converter.add_format("%d/%m/%y")

In [10]:
converter.convert_date("21/06/23")

'2023-06-21'

In [11]:
converter.directive_df()

   Code    Example                                        Description
0    %a        Sun              Weekday as locale's abbreviated name.
1    %A     Sunday                     Weekday as locale's full name.
2    %w          0  Weekday as a decimal number, where 0 is Sunday...
3    %d         08  Day of the month as a zero-padded decimal number.
4   %-d          8  Day of the month as a decimal number. (Platfor...
5    %b        Sep                Month as locale's abbreviated name.
6    %B  September                       Month as locale's full name.
7    %m         09             Month as a zero-padded decimal number.
8   %-m          9      Month as a decimal number. (Platform speciﬁc)
9    %y         13  Year without century as a zero-padded decimal ...
10   %Y       2013             Year with century as a decimal number.
11   %H         07  Hour (24-hour clock) as a zero-padded decimal ...
12  %-H          7  Hour (24-hour clock) as a decimal number. (Pla...
13   %I         07  Hour (12-hour clock) as a zero-padded decimal ...
14  %-I          7  Hour (12-hour clock) as a decimal number. (Pla...
15   %p         AM            Locale's equivalent of either AM or PM.
16   %M         06            Minute as a zero-padded decimal number.
17  %-M          6     Minute as a decimal number. (Platform speciﬁc)
18   %S         05            Second as a zero-padded decimal number.
19  %-S          5     Second as a decimal number. (Platform speciﬁc)
20   %f     000000  Microsecond as a decimal number, zero-padded t...
21   %z      +0000  UTC oﬀset in the form ±HHMM[SS[.ﬀﬀﬀ]] (empty s...
22   %Z        UTC  Time zone name (empty string if the object is ...